[2016-09-14 18:08] kcfgl opened #1 "Initial Setup Questions - Might need to wait for NPM"
Hey @rozele. This might not be the best way to ping you on this, but figured it was better than Discord.

I spent time integrating Azure into the project, to get familiar.  Works great.  So I moved on to your module.  Downloaded and dropped the code in node_modules.  Your JS seem straightforward. I added the config file to same directory as my JS.  I added the csproj to my sln and added a referenc

[2016-09-14 20:23] kcfgl commented on #1
Here is a screenshot at the breakpoint of the first time the error is triggered.  I'm at a loss here.  I tried to pull back all of this module, in case it is totally unrelated.  But that didn't seem to matter.  I'm kind of stuck now.  I'll keep at it, but if you think this is somehow related, let me know.  Thanks.

![capturewinrterror](https://cloud.githubusercontent.com/assets/19731815/18528556/8

[2016-09-16 15:49] kcfgl commented on #1
I closed this issue.  You can delete it as its not specifically an issue with this module but an issue with RN0.33 and RNW0.33.

[2016-09-16 15:49] #1 closed

[2016-09-20 21:09] rozele opened #2 "Add tags support for ANH registration"
The registration APIs support (and encourage) the use of tags that can be specifically targeted in push notifications.

[2016-09-20 21:09] rozele opened #3 "Add unregistration for Android."
Should be able to unregister from ANH with Android.

[2016-09-20 21:10] rozele opened #4 "Add iOS support"
Need native bindings for iOS.  To get started, check out https://azure.microsoft.com/en-us/documentation/articles/notification-hubs-ios-apple-push-notification-apns-get-started/

[2016-09-20 21:10] rozele opened #5 "Add badge and other tile features for ANH."

[2016-09-21 14:27] rozele opened #6 "Add notification event for foreground apps"
When a notification occurs while the app is in the foreground, a native event should be dispatched so JavaScript behavior can be added (e.g., Alert, Toast for Android, etc.)

[2016-09-21 16:44] #3 closed

[2016-09-21 16:47] rozele opened #8 "Allow registration to multiple notification hubs"

[2016-09-21 18:23] rozele commented on #8
This would be tough, because we want to continue to support the automatic re-registration (in the case of Android).  Also, not sure why a single app would need multiple push notification registrations...

[2016-09-21 18:52] rozele opened #10 "[Android] Add registration success/failed event"
When a registration is successful or fails, the JavaScript module should be notified.  Currrently, Android does registration on an IntentService, so we'll need a broadcast of some kind to let the foreground module know what registration ID / failure cause was.

[2016-09-21 18:55] rozele opened #11 "Support scheduled / recurring notifications"
These are similar features but may need to be separated into individual issues.

[2016-09-21 19:15] #2 closed

[2016-09-27 21:03] phongcao opened #12 "targetSdkVersion should be set to 22"
All dependencies seem to have targetSdkVersion <= 20 so 22 should be good enough and it's also consistent with the template project generated by react-native.

[2016-09-27 21:10] phongcao opened #13 "Building issue related to manifest merger failed"
This issue is related to the azure-mobile-services sdk. The [android icon tag](https://github.com/Azure/azure-mobile-services/blob/master/sdk/android/src/notifications-handler/src/main/AndroidManifest.xml) in the manifest file is creating conflict when react-native generates the default template project. The readme file should be updated to warn developers about it.

[2016-10-04 03:22] kcfgl commented on #13
@phongcao Sorry for the naive question, but how do I resolve this?  Thx.

[2016-10-04 03:58] kcfgl opened #15 "Device not getting registered with Azure on Android"
Hey guys. Thanks for the hard work on this, it couldn't have come at a better time.  All good on Windows (thank you!) and now implementing on Android.  I followed the installation guide, app builds, no JS errors, double-checked everything looks good.  Connection strings match Win and iOS, which all register perfectly.

But I'm not getting my device registered in the Azure notification hub (viewing

[2016-10-04 15:23] kcfgl commented on #15
After confirming all the setup instructions on by the Firebase Messaging side and Azure Notification Hub, cleaning and re-building numerous times, I was able to clear this issue.

[2016-10-04 15:23] #15 closed

[2016-10-17 14:44] #4 closed

[2016-12-18 13:56] Jaafar-abusair opened #17 "How to use the arrived notification in react java script?"
We need a call back in react native so it will now there is a notification arrived and application will do what is suppose to do when receiving the nofication

[2017-11-02 12:53] sudhirnumino opened #20 "Issue with iOS registration (Unauthorized)"
Getting an error "Unauthorized" for the token. Also the API version is specified as 2013-04 whereas the latest version is 2015-01.

Is the SharedAccessSignature token generation logic is changed from the API version?

[2017-11-02 13:57] rozele commented on #20
cc @phongcao

[2017-11-02 14:35] Maj0rPaine opened #21 "Did iOS support not make it into a new release?"
v0.1.0 seems to be the only release and npm is referencing this version.

[2017-11-02 14:57] phongcao commented on #21
@rozele Can we release a new version on nuget?

[2017-11-02 15:20] rozele commented on #21
Yep! I'll try to publish today. Thanks @phongcao!

[2017-11-02 15:27] Maj0rPaine commented on #21
Awesome! Thanks for your work on this.

[2017-11-03 10:38] sudhirnumino commented on #21
Great !! Thanks @rozele & @phongcao
Waiting to try out the latest one.

[2017-11-03 15:31] rozele commented on #21
Published latest iOS changes.

[2017-11-03 15:31] #21 closed

[2017-11-03 15:32] rozele commented on #20
@sudhirnumino I think this was because I hadn't published a new version of the NPM package. Closing now that 0.2.0 is published. Please re-open if this remains an issue.

[2017-11-06 19:18] Maj0rPaine opened #23 "Android build fails on RN 0.47+"
Android build is failing with the following error:
...\ReactNativeNotificationHubPackage.java:19: error: method does not override or implement a method from a supertype

Looks like the createJSModules() override was removed in 0.47.

[2017-11-06 20:09] Maj0rPaine commented on #23
@rozele and @phongcao I submitted pull request #24

[2017-11-07 09:32] sudhirnumino commented on #20
Still getting _401:Unauthroized_  error for the registration, with iOS v11.1

[2017-11-07 10:24] sudhirnumino commented on #20
Attached the error message
![error](https://user-images.githubusercontent.com/26406228/32488810-eb7ff33e-c3d3-11e7-8500-8f635437a4ad.png)

[2017-11-07 18:02] phongcao commented on #20
Hi @sudhirnumino, thanks for informing us. I'll have a look at this issue as soon as I have time.

[2017-11-10 16:25] KarthickCSK opened #25 "Android Marshmallow Integration issue"
Is this module functioning for android 6. I tried to install followed all the instructions .Build was successful but no registrations happened.Moreover there is no way to confirm that registration was successful. No error was thrown stating the same.

[2017-11-10 16:33] phongcao commented on #25
Hi KarthickCSK, the Android module was developed quite long time ago so it might not work well with Android 6. We'll check and get back to you later.

[2017-11-11 12:02] KarthickCSK commented on #25
Thanks . Meanwhile i will send you the log details. where i am facing error.So it wil speed up your process

[2017-11-11 15:25] KarthickCSK commented on #25
Error 1 :

error: method does not override or implement a method from a supertype
    @Override
    ^
1 error
:react-native-azurenotificationhub:compileReleaseJavaWithJavac FAILED

Error 2:

 Manifest merger failed : Attribute application@icon value=(@mipmap/ic_launcher) from AndroidManifest.xml:17:7-41
     is also present at [com.microsoft.azure:azure-notifications-handler:1.0.1] AndroidManifest

[2017-11-11 16:09] #23 closed

[2017-11-11 16:13] phongcao commented on #25
Hi @KarthickCSK, I've just merged a PR that fixes error 1. Error 2 is #13, the temporary workaround is removing the android icon tag.

[2017-11-11 16:24] KarthickCSK commented on #25
Thanks, but the app is still not working . I found a detail in the log file.

**Failed to complete token refresh
     java.lang.IllegalStateException: Default FirebaseApp is not initialized in this process com.azurernnotifications. Make sure to call FirebaseApp.initializeApp(Context) first.**

Please look into the above issue i tried to get around but no luck

[2017-11-23 05:47] sudhirnumino commented on #20
@phongcao Tested this with a clean setup for my app, works perfectly. Not able to reproduce the above "Unauthorized" error. You may close the above issue.

Thanks a ton.

[2017-11-23 05:47] #20 closed

[2017-11-23 14:14] phongcao commented on #20
Awesome, thanks for telling me.

[2018-01-04 05:20] keung7251 opened #26 "npm install missing WindowsAzureMessaging-prefix.pch"
Showing Recent Issues
No such file or directory: 'node_modules/react-native-azurenotificationhub/ios/WindowsAzureMessaging/WindowsAzureMessaging-Prefix.pch'

[2018-01-04 08:13] keung7251 opened #27 "android not working"
react-native-azurenotificationhub/android/src/main/java/com/azure/reactnative/notificationhub/ReactNativeNotificationHubPackage.java:19: error: method does not override or implement a method from a supertype
    @Override
    ^
1 error
:react-native-azurenotificationhub:compileReleaseJavaWithJavac FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':reac

[2018-01-05 19:36] #12 closed

[2018-01-05 20:16] #13 closed

[2018-01-05 22:15] phongcao commented on #27
This issue has been fixed on master. See #24.

[2018-01-05 22:15] #27 closed

[2018-01-05 23:15] phongcao commented on #25
@KarthickCSK We need to follow the exact steps of "Add Firebase to your Android app" so that [FirebaseApp](https://firebase.google.com/docs/reference/android/com/google/firebase/FirebaseApp) can be initialized successfully:

**Step 1**

![1](https://user-images.githubusercontent.com/9741323/34632568-32429eb8-f244-11e7-93f1-fa95aa15d55e.JPG)

**Step 2**

![2](https://user-images.githubusercontent.c

[2018-01-05 23:15] #25 closed

[2018-01-05 23:16] phongcao commented on #26
@keung7251 Can you try our master branch?

[2018-01-12 16:07] pedrogyn opened #29 "iOS AppDelegate.h error: Missing context for method declaration"
Hello my friends,

can help-me?

<img width="1282" alt="captura de tela 2018-01-12 as 14 05 16" src="https://user-images.githubusercontent.com/20590307/34883795-d7afc468-f7a1-11e7-8253-999d2893a6bc.png">

[2018-01-12 16:32] #29 closed

[2018-01-12 18:42] pedrogyn opened #30 "field remoteNotificationsDeviceToken - ios"
Hello my friends,

can help-me?

What would this parameter be for the register function? Where do I get this "remoteNotificationsDeviceToken"?

<img width="725" alt="captura de tela 2018-01-12 as 16 39 45" src="https://user-images.githubusercontent.com/20590307/34890051-96e9a76c-f7b7-11e7-8f1c-6a93721152fc.png">

[2018-01-12 19:55] phongcao commented on #30
You get the device token from register event. Here's the sample code:

[code]

[2018-01-13 17:22] #30 closed

[2018-01-16 08:22] PanRada opened #31 "deviceToken in react native"
Any can give some smart solution for read device Token's  ?

In iOS implementation for react native we need use
var remoteNotificationsDeviceToken = ''
where is that token  ?

Pls any direction, help, solution

[2018-01-16 16:08] phongcao commented on #31
Hi @PanRada, please see #30.

[2018-01-16 16:08] #31 closed

[2018-01-16 16:08] phongcao commented on #26
Please re-open if needed.

[2018-01-16 16:08] #26 closed

[2018-01-16 16:12] phongcao commented on #27
@rozele It may be worth releasing a new npm version that has this issue fixed. It'll surely help our developers time.

[2018-01-25 21:34] PanRada opened #32 "Unregister in Android"
Hi

Wondering if some one can answer:
unregister() is now deprecated:
https://developers.google.com/android/reference/com/google/android/gms/gcm/GoogleCloudMessaging.html#unregister()

we are use that  in react-native-azurenotification and notice errors
My issues is to any time when user update tags to update register method with new tags. for Android is not updated. is any way to solve this probl

[2018-01-26 07:26] PanRada commented on #8
What u mind automatic re-registration (Android) how is this work and how can be this used to update tags from user?

[2018-02-07 18:24] Maj0rPaine opened #33 "Publish new version"
@phongcao @rozele, can we have a new version published for PR #24 and #28?
Thanks again for your work on this project.

[2018-02-07 19:38] phongcao commented on #33
@Maj0rPaine Sure thing, I'm trying to close a few other issues before publishing a new version. Please check back in a few days.

[2018-02-08 19:17] Maj0rPaine opened #34 "FCM token null after NotificationHub.unregister()"
After unregistering with Azure and trying to register again, FirebaseInstanceId.getInstance().getToken() is returning a null token. Is this expected behavior?

The conditional statement in the code below is failing because the hub is trying to register with a null token from the token refresh.

This line throws an exception:
` regID = hub.register(token, tags).getRegistrationId();`

String token =

[2018-02-11 14:59] phongcao commented on #33
v0.3.0 has been released.

[2018-02-11 14:59] #33 closed

[2018-02-13 18:28] vasukumar169 opened #35 "My Android app gradle build perfectly, but crashes on debug mode"
Hi,
My android app crashes as soon as the apk installs and and launches the app.
Neither it is recording any of the crash analytics for the same.

React Native version 0.47.1

adb shell am start -n "com.hm/com.hm.MainActivity" -a android.intent.action.MAIN -c android.intent.category.LAUNCHER
Client not ready yet..Connected to process 4253 on device samsung-sm_j700f-5203106cfafd5373
Application ter

[2018-02-20 13:45] NawazKhanMd opened #36 "Register dosen't happen"
After Register is initiated from mobile nothing happens i have put logs at

`Intent intent = new Intent(reactContext, ReactNativeRegistrationIntentService.class);
        reactContext.startService(intent);
        NotificationsManager.handleNotifications(reactContext, senderID, ReactNativeNotificationsHandler.class);`

i have put a log there This was excuting after that I could not figure out what

[2018-03-11 11:28] sarahmarciano opened #37 "What is the difference between this library and the one of @rozele?"

[2018-03-11 14:11] phongcao commented on #37
This is the main one and we're maintaining it.

[2018-03-11 14:12] #37 closed

[2018-04-27 17:29] rogarMS commented on #34
Hey @Maj0rPaine,
Just ran into this for my app. Did you figure anything out?

[2018-04-27 17:57] Maj0rPaine commented on #34
@rogarMS I did not. Best practice imo would be to not allow someone to unregister with Azure. Simply point them to the device settings to manage push notifications.

[2018-05-16 21:49] jgconti96 opened #38 "Notification handler for android"
I need a way to navigate to a specific page when a user selects the notification. I am able to do this with the notification handler built for IOS but not android. Is there a simple way to accomplish this with the existing version of the library?

[2018-05-19 14:30] Ladekarl opened #39 "[Android] Calling unregister before register results in FCM token being null"
When calling NotificationHub.unregister() and then calling NotificationHub.register afterwards, the FCM token is null and the following is outputted in logcat:

FCM Registration Token: null
NH Registration refreshing with token : null

When the app is reopened the registration is successful.

[2018-05-23 12:29] Ladekarl opened #40 "[iOS] Private headers causes Archive to fail"
Hi.

First of all thank you for bringing this functionality to react native.

I found an issue when trying to archive my iOS application after linking this library.
The WindowsAzureMessaging target has private headers.

![screen shot 2018-05-23 at 14 11 18](https://user-images.githubusercontent.com/6671635/40423590-59e48cd6-5e93-11e8-82ed-fb6b63d1188b.png)

This causes xcode to archive the project

[2018-05-23 12:32] Ladekarl commented on #39
Duplicate of #34

[2018-05-23 12:32] #39 closed

[2018-06-01 11:33] munna-singh opened #41 "Unable to retrieve Azure registration id on using onAzureNotificationHubRegistered"
@rozele,

After registering a device (both Android and iOS) with Azure, is there a way to retrieve the Azure registration id? Currently, the function only returns a JSON with the registration status of success or failure.

Thoughts?
Munna

[2018-06-06 13:34] dipernaa commented on #20
I am getting the same error.
iOS v11.1
react-native-azurenotificationhub v0.3.0

[2018-06-15 09:35] vipulgupta27 opened #42 "Message was successfully sent, but there were no matching targets."
when I did all setup as you given in Readme.md. After all done, i send the message but i get "Message was successfully sent, but there were no matching targets." in Push notification app in Test Send. Please provide some help to use push notification.

[2018-06-23 05:41] VenkataPakalapati opened #43 "Device Registration is not happening"
Hi I implemented all the steps provided in the tutorial. However the register method does not seem to work. It does not throw any error either

I don't see the device in the notification hub registered devices list. I tried sending a test push notifcation from azure portal without any tag and with tag I used in the app. It says "Message was successfully sent, but there were no matching targets".

[2018-06-28 13:08] dipernaa opened #45 "xcodebuild commands fail"
I can create the `xcarchive` of my project just fine but when trying to sign the app the xcodebuild command fails. I can do these commands just fine without this package but once it is added those commands fail. I have tried manually linking the package multiple times in case I did something wrong with that but it still fails.

This runs just fine every time:
[code]

This command fails when packag

[2018-06-28 13:23] dipernaa commented on #45
Looks like this is related to #40

[2018-06-29 23:10] phongcao commented on #40
Thanks @stephenvisser and @Ladekarl !

[2018-06-29 23:10] #40 closed

[2018-06-29 23:12] phongcao commented on #45
@dipernaa It should be resolved now. Feel free to reopen if it still occurs.

[2018-06-29 23:12] #45 closed

[2018-06-29 23:16] phongcao commented on #43
@VenkataPakalapati Can you let me know your device OS?

[2018-06-29 23:17] phongcao commented on #42
Closing. Same as #43

[2018-06-29 23:17] #42 closed

[2018-06-30 00:28] VenkataPakalapati commented on #43
I am using Google pixel 2 xl running Android 8.1.0

[2018-07-02 16:29] phongcao commented on #43
@VenkataPakalapati Can you check logcat and look for the highlighted part in the below picture?

![debug](https://user-images.githubusercontent.com/9741323/42175322-07fe1688-7df3-11e8-8014-279cc10934f9.JPG)

Also, the test message must contain the **id** field, which is a number, so that it can be processed. For example:

{"data":{"id":12345, "message":"Notification Hub test notification"}}

I'm u

[2018-07-02 16:37] phongcao commented on #36
@NawazKhanMd Please check #43 and see if it helps you.

[2018-07-02 16:37] #36 closed

[2018-07-02 16:39] phongcao commented on #35
@vasukumar169 Can you please provide more info in logcat?

[2018-07-02 16:40] phongcao commented on #34
Closing this for now. Let me know if this is something that is still important for you.

[2018-07-02 16:40] #34 closed

[2018-07-02 18:47] phongcao commented on #41
@munna-singh Can you check #46? Is it something you're looking for?

[2018-07-02 20:47] VenkataPakalapati commented on #43
Thanks for responding.I am using an emulator and my IDE is Visual Studio code.I setup a break point at register method ran my code .The breakpoint gets hit and i dont see anything in logcat.
I tried sending a test push notification from azure like you suggested.No luck

<img width="1524" alt="github_isssue" src="https://user-images.githubusercontent.com/17863587/42185591-6bcd22ac-7e17-11e8-871c-95

[2018-07-03 04:07] munna-singh commented on #41
@phongcao  Yes, this is what i was looking for. Thank you very much.

[2018-07-03 12:36] #41 closed

[2018-07-03 12:38] phongcao commented on #43
Can you try using a real device to test it?

[2018-07-03 12:39] phongcao commented on #43
You can use ""adb logcat" command line to check for that log info.

https://developer.android.com/studio/command-line/logcat

[2018-07-04 00:29] phongcao commented on #35
Closing. Feel free to re-open if it still happens.

[2018-07-04 00:29] #35 closed

[2018-07-04 00:35] #6 closed

[2018-07-04 00:36] #38 closed

[2018-07-04 00:37] #17 closed

[2018-07-04 00:45] #8 closed

[2018-07-05 01:05] VenkataPakalapati commented on #43
Thanks. i managed to get the registration working .However once i send a test push notiifcation,it seems my phone receives it ,but it crashes the app

<img width="828" alt="github_isssue4" src="https://user-images.githubusercontent.com/17863587/42297463-9793bba0-7fcd-11e8-991a-75c0a0674acb.PNG">
<img width="1554" alt="github_isssue5" src="https://user-images.githubusercontent.com/17863587/42297464

[2018-07-16 03:18] msardi23 opened #48 "Build fails on Android"
After following Android guide and trying to build the application the build process fails with:

[code]
Could be user error...

[2018-07-16 03:38] msardi23 commented on #48
To resolve this I needed to do the following which I got from [this thread](https://github.com/oblador/react-native-vector-icons/issues/428)

I then hit this issue:

[code]
So I changed the AndroidMainifest.xml this and it all seems to build successfully now...
[code]

[2018-08-06 10:25] phongcao commented on #43
@VenkataPakalapati Did you manage to solve your issue? Feel free to open a new one if needed.

[2018-08-06 10:25] #43 closed

[2018-08-16 08:18] kmarkiewicz opened #50 "Handling clicking on notification"
I am just wondering how I can handle when a user taps on the notification when the application is not open?
I can see that the onRemoteNotification gets run when you tap on a notification while the app is in the foreground. However, if you close the application and tap on a notification, nothing gets run.
How do I handle this?

Thank you!

[2018-08-20 21:40] phongcao commented on #50
@kmarkiewicz Can you try this PR?

https://github.com/CatalystCode/react-native-azurenotificationhub/pull/51

[2018-08-21 15:50] phongcao commented on #48
Thanks @msardi23. This issue should have been fixed now!

[2018-08-21 15:50] #48 closed

[2018-08-21 15:59] #50 closed

[2018-08-22 06:59] kmarkiewicz commented on #50
I have not implemented your PR yet, because the Notifications stopped working now and my app keeps crashing when trying to register with Azure. The onNotificationRegisterError is returning "Error: pns handle". I have spent hours trying to fix this and I cannot.
Sorry, I can't tell you if your PR works for me or not.

[2018-09-26 06:01] crup opened #52 "[iOS] Getting warning "Connection string cannot be null""
I'm unable to register a device after 'Request Permission'. When I click on Register link, I get the following warning in console.

React version:
react-native-cli: 2.0.1
react-native: 0.55.4

Xcode: Version 10.0 (10A255)

`Possible Unhandled Promise Rejection (id: 0):
Error: Connection string cannot be null.
Error: Connection string cannot be null.
    at createErrorFromErrorData (blob:http://192

[2018-10-03 09:33] yasaricli opened #53 "Build failed"
hello, I am getting an error in this way on android,

[code]

react-native: 0.57.0

ext config

![screen shot 2018-10-03 at 12 32 43](https://user-images.githubusercontent.com/1306620/46402467-75833900-c708-11e8-8ce2-0a1d98b7ff3f.png)

[2018-11-22 17:28] cassianomon opened #54 "The project inside node_module just have a .xml file, not a android project"

[2018-11-22 17:29] #54 closed

[2018-12-11 11:57] porjegirish opened #55 "iOS :Lexical or PreProcessor Issue "React/RCTEventEmitter.h" file not found"
I have Pods project while building the project it gives error Lexical or PreProcessor Issue "React/RCTEventEmitter.h" file not found. It is not getting ref for RCTEventEmitter file while building.

[2019-01-10 06:39] benlime commented on #53
For me, updating the dependencies in the android project worked. See my PR https://github.com/CatalystCode/react-native-azurenotificationhub/pull/56

[2019-01-10 17:06] #53 closed

[2019-01-10 17:08] phongcao commented on #52
Looks like you haven't set the connection string properly. Please try again.

[2019-01-10 17:08] #52 closed

[2019-01-19 18:30] devnitish29 opened #57 "Cannot Receive Notifications when the app is in kill state."
I am getting notifications when the Android  App is in the Foreground/Background state but when the app is killed. I am not receiving any notifications. Do we have any implementations so that I can see what I am doing wrong?

[2019-01-21 08:47] illidandh commented on #57
i'm facing this issue too , anyone have solution ?

[2019-01-23 20:22] sumesh1993 commented on #57
make sure your payload is of the following format
`data: {
    id: 123,
    title: "welcome",
    message:"to your app" ,
  }`

[2019-01-28 09:18] illidandh commented on #57
@sumesh1993 thank you , its work.
do you know handle click on notification when killed app ( not background ) addEventListener not working

[2019-02-13 18:12] matt-landers commented on #20
I'm getting the same error. Any idea how to correct it? Android works fine.

[2019-02-22 08:50] wyrustaaruz opened #58 "Android is not working"
Hello,
I created a new blank project with `react-native init asd` then I added your lib. with `npm install react-native-azurenotificationhub` then I made settings with your documentation. Finally I wrote `react-native run-android` in console. Result is : Build Failed.

<img width="1494" alt="ekran resmi 2019-02-22 11 48 28" src="https://user-images.githubusercontent.com/7090553/53230479-d0a5d000-3

[2019-02-27 05:58] matt-landers opened #59 "Publish new npm version"
Can someone publish a new npm version with the updates to the google services in the gradle file? I'm changing it locally, but when others pull it down they have to change it as well. This is related to #53 and #56.

Thanks!

[2019-03-04 00:48] phongcao commented on #59
[0.6.0](https://www.npmjs.com/package/react-native-azurenotificationhub/v/0.6.0) has been published.

[2019-03-04 00:48] #59 closed

[2019-03-04 03:34] matt-landers commented on #59
@phongcao Thanks!

[2019-03-04 06:23] matt-landers opened #60 "`fbjs/lib/invariant` does not exist in the Haste module map"
I'm getting the error below on iOS. Any idea what might have happened? I tried clearing my cache.

error: bundling failed: Error: Unable to resolve module `fbjs/lib/invariant` from `/Users/matt/Documents/Source/rightrv/rightrv-app/node_modules/react-native-azurenotificationhub/ios/AzureNotificationHubIOS.js`: Module `fbjs/lib/invariant` does not exist in the Haste module map

[2019-03-06 04:06] matt-landers commented on #60
Issue ended up being unrelated to this component.

[2019-03-06 04:06] #60 closed

[2019-03-13 10:39] nikith050 commented on #58
@wyrustaaruz, Check your manifest file and change android:allowBackup="false" to android:allowBackup="true". Should work fine

[2019-04-02 17:56] Maj0rPaine opened #62 "Update Getting Started"
Should the Android Installation section of Getting Started be updated to match new dependencies for version 0.6.0 of this lib?

From Getting Started:
![Screen Shot 2019-04-02 at 1 51 58 PM](https://user-images.githubusercontent.com/15081579/55424789-053a6080-554f-11e9-91d1-cbb7f39f3896.png)

[2019-04-10 13:39] sumesh1993 opened #63 "GCM is deprecated"
So, the underlying code of this library uses gcm, which as per google has been deprecated and will stop working from 29th May'19.
`FirebaseInstanceId.getInstance().getToken();`, android studio also suggests that `getToken()` is deprecated.
Just wanted to understand here, will this affect my application after 29thMay once GCM stops working ?
Are there any plans to migrate this library to completely

[2019-04-10 15:01] phongcao commented on #63
@sumesh1993 Good call. It looks pretty straightforward to use the new APIs to obtain the token so I'll spend sometime this week to check it.

[2019-04-11 04:20] sumesh1993 commented on #63
@phongcao that would be great, thank you.

[2019-04-15 10:51] sumesh1993 commented on #63
@phongcao Hi, any update on this ?

[2019-04-16 00:23] phongcao commented on #63
@sumesh1993 I checked and there is a problem with [azure-mobile-services](https://github.com/Azure/azure-mobile-services), which this library depends on. At the moment, Mobile Services is deprecated and it's [using GCM](https://github.com/Azure/azure-mobile-services/blob/master/sdk/android/src/notifications-handler/src/main/java/com/microsoft/windowsazure/notifications/NotificationsManager.java#L1

[2019-04-16 00:26] phongcao commented on #63
I made some changes to the library but still there is a lot of work related to Azure Mobile Services sdk:
https://github.com/CatalystCode/react-native-azurenotificationhub/tree/thcao/fcm

[2019-04-16 03:57] #57 closed

[2019-04-16 04:04] phongcao commented on #63
@sumesh1993 Can you try this PR?

https://github.com/CatalystCode/react-native-azurenotificationhub/pull/64

[2019-04-16 06:21] sumesh1993 commented on #63
ok i'll check it out and get back to you

[2019-04-18 01:37] davidbutz opened #65 "Android not receiving notifications"
Hello,

I am successfully getting notifications through iOS, and used to get them through Android. Until recently.

Wondering if "GCM is deprecated #63" issue is affecting me?

I am testing with Azure "Test Send" with particular id targeted, but never see the notifications pop up.  Nothing on adb log... just dead silence with the installation instructions provided.

What I am asking: Is there a wa

[2019-04-18 01:41] davidbutz commented on #65
I forgot to mention one delta, a critical one from your install instructions.

I could not get a release variant to run with the versions of
com.google.android.gms:play-services-gcm & com.google.firebase:firebase-messaging in the instructions. I was getting errors in the release variant version.

So I updated to
    compile 'com.google.android.gms:play-services-gcm:16.1.0'
    compile 'com.google.

[2019-04-18 03:08] phongcao commented on #65
@davidbutz I've just pushed the fix for the compiling issue in release configuration in #64. Regarding the notification issue, did you receive the registration ID after registering?

[2019-04-18 13:44] davidbutz commented on #65
Hello Phong,

Yes I did receive the registrationId.

Where I am: When the app is running, I can Toast.Show the message coming in. It looks like I had some code which expected the notification coming to be an object, when it now is coming as a String.
So I now test to see if it’s an object or string and handle it appropriately:

Another example:

I believe I used to get:

{”google.delivered_priorit

[2019-04-20 22:23] davidbutz commented on #65
Hello phongcao ,

wondering if you have any advice on why my android machine will receive notifications when in app, but not when the app is closed?

Thanks,

Dave Butz

[2019-04-21 01:22] davidbutz commented on #65
All is good. I noticed the missing "id" from the payload and now works like a charm.

[2019-04-21 02:33] phongcao commented on #65
@davidbutz The "id" issue has also been fixed on master: https://github.com/CatalystCode/react-native-azurenotificationhub/pull/61

Thanks for letting me know.

[2019-04-21 02:33] #65 closed

[2019-04-22 17:58] #58 closed

[2019-04-22 17:58] #62 closed

[2019-05-03 00:07] mokingguy opened #66 "remoteNotificationReceived event not firing on foreground"
I followed the android example installation, and it registers correctly and receives the notification correctly while the app is in killed state or on background. but while on foreground nothing seems to fire.

this is an example of the code I'm using:

[code]

Thanks!

[2019-05-10 12:10] sumesh1993 commented on #63
@phongcao after migration to fcm as instructed, i am unable to receive notifications on android.
FCM token is getting generated successfully. My tag is also getting registered, i successfully receive the registration ID.
But when i use test send from azure to trigger a notification, it says sent successfully. But nothing is received on my android device.
What could i be doing wrong ?
Your response

[2019-05-11 06:08] sumesh1993 commented on #63
@phongcao Can u help me out pls ? I m stuck. Please refer [this](https://stackoverflow.com/questions/56078899/react-native-azure-notification-hub) stackoverflow question.

[2019-05-13 00:52] phongcao commented on #63
This is very strange. I can spend some time this week to test it again and let you know.

[2019-05-13 06:14] sumesh1993 commented on #63
@phongcao The thing is i have integrated this library in one of my client projects and because GCM is getting deprecated in 2 weeks, my clients are panicking.
You would be really helping me out if you could close this issue asap.

Appreciate the effort you are putting into it. Thanks.

[2019-05-14 04:52] sumesh1993 commented on #66
Can you please share your android related files, its not working for me. It gets registered successfully but i m not receiving any notifications.

[2019-05-14 16:05] sumesh1993 commented on #63
@phongcao Hi, did u get a chance to look at it ?

[2019-05-14 19:14] phongcao commented on #63
@sumesh1993 Unfortunately, I'm not available now but I can have a look at it on the weekend.

[2019-05-17 04:10] sumesh1993 commented on #63
@phongcao One more thing, i tried sending notification from the fcm console using the fcm token that is generated. I was able to receive the notification via fcm directly.
Not sure why its not working through azure

[2019-05-18 14:05] sumesh1993 commented on #63
@phongcao any update ?

[2019-05-20 03:50] phongcao commented on #63
I've just published v0.8.0 that should fix the notification issue. There is still another issue with [azure-mobile-services](https://github.com/Azure/azure-mobile-services) sdk, which is still using some deprecated APIs from GCM. I'll be checking it this week to see if I can upgrade that sdk to fully use FCM.

[2019-05-20 05:36] sumesh1993 commented on #63
@phongcao so this version of the library will stop working after 29th May ?

[2019-05-20 17:15] phongcao commented on #63
@sumesh1993 Try out v0.9.0. It shouldn't have any dependency on GCM.

[2019-05-20 17:15] #63 closed

[2019-05-20 17:16] phongcao commented on #66
Please try again with v0.9.0.

[2019-05-20 17:16] #66 closed

[2019-05-30 07:10] MD1990 commented on #55
I am also facing this issue, from the help on the internet I am getting for specific packages and not help for this plugin I am using, any updates on this.

[2019-07-23 17:53] askpatrickw opened #69 "Question: How does this relate to the core RN pushnotification documentation?"
On the RN site there is documentation related to the [PushNotificationiOS component](https://facebook.github.io/react-native/docs/pushnotificationios).

Can you briefly explain how these are related (or not) when using Azure Notification Hub? I'll follow-up with a PR to add to this to the docs.

tx!

[2019-07-24 19:50] fylock opened #70 "Missing CocoaPods for iOS"
Could we get this published as a CocoaPod for iOS? Now that ReactNative is moving to CocoaPods, we should do the same with our packages.

[2019-07-30 08:57] phongcao commented on #69
@askpatrickw `PushNotificationIOS` component doesn't support Azure Notification Hub by default. This library does and is built on top of that component.

[2019-07-30 08:57] #69 closed

[2019-08-07 11:13] jonathanort commented on #70
Just created a PR that adds support for React Native 0.60 and Cocoapods

[2019-08-07 11:16] jonathanort commented on #70
Just created a PR that adds support for React Native 0.60 (Cocoapods) https://github.com/CatalystCode/react-native-azurenotificationhub/pull/71

[2019-08-23 14:16] yasaricli opened #72 "not supported in the simulator"
How do we support simulator for ios?

<img width="685" alt="Screen Shot 2019-08-23 at 17 16 41" src="https://user-images.githubusercontent.com/1306620/63599184-c4101f00-c5c9-11e9-9488-d1fec2217418.png">

[2019-09-11 11:57] anikhechoyantumo opened #73 "Distinguish if app is opened or closed while receiving notification"
We have `remoteNotificationReceived` event, which (in my tests) is called when
1. app is opened and a notification is received
2. app is closed, opened on tapping a notification
3. app is in background, notification is received and after some time app goes to foreground again

I need to handle these scenarios differently. Is there a way to differentiate them?

[2019-09-11 12:19] MayurBar opened #74 "How can we do "Device registration with a Notification Hub is accomplished using Installation.""
I need to use Azures new **Installation** process for device registration.
How can I do that using current npm.

For Ref: https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-push-notification-registration-management

[2019-09-11 13:48] anikhechoyantumo commented on #73
There is one more case... when app comes to foreground from background state after tapping on a notification. Checking the AppState helped in this case, but not in last 2 of the list. When app is closed and opened by tapping a notification, the AppState is already active, when the event happens. In case of the 3rd case seems it calls twice, once with background state, once with active.

[2019-09-16 14:45] #70 closed

[2019-10-08 20:52] mohammadalijf opened #75 "Error package android.support.v4.content does not exist"
I have recently migrated my app to react-native 0.61.2 and i am getting the following error when i try to compile the app for release

[code]

[2019-10-08 22:00] mohammadalijf commented on #75
used [jetifier](https://github.com/mikehardy/jetifier) to fix my problem

[2019-10-09 19:55] phongcao commented on #75
Thanks for sharing!

[2019-10-09 19:55] #75 closed

[2019-11-01 09:15] anikhechoyantumo opened #76 "A way to set a channel on Android."
I need to change the channel importance on Android, so i wonder if there is a way of changing the default one.
Thanks.

[2019-12-05 04:19] chowkapo commented on #73
Does anyone come up with any solution? I also need to distinguish different cases upon arrival of a notification.

[2019-12-05 09:25] anikhechoyantumo commented on #73
@chowkapo As a workaround for receiving part I subscribed to the firebase notifications listeners instead of azure's, because azure uses FCM under the hood. Solution worked for iOS, couldn't implement it for Android yet. I can share more details if needed.

[2019-12-08 03:14] chowkapo commented on #73
@anikhechoyantumo please do share more details. Does that mean we have to give up this azure notification hub library and switch to something FCM specific? Thanks a lot!

[2019-12-17 11:14] sw-tt-keyurprajapati opened #77 "Version #0.9.0 issue"
**In iOS:**

'WindowsAzureMessaging/WindowsAzureMessaging.h' file not found

Also I have try by adding this framework in project but get the same issue.

[2019-12-20 10:54] anikhechoyantumo commented on #73
I didn't stop using this library, because it supports azure registration, tags, etc. What i did is not listening to `remoteNotificationReceived` event. Instead, i listen to `onNotification`, `onNotificationOpened` and `getInitialNotification` events of `Firebase.notifications()` instance. Here is the example code:

`this.notificationListener = Firebase.notifications().onNotification(
      notific

[2019-12-23 07:25] gcsawargi opened #78 "TypeError: this._nativeModule.addListener is not a function"
I am getting this error in iOS. Android compilation is just fine and I am able to register the device with Azure Push Notification Hub. Any idea why this is?

TypeError: this._nativeModule.addListener is not a function
![Simulator Screen Shot - iPhone X - 2019-12-23 at 11 23 10](https://user-images.githubusercontent.com/105079/71342623-bddd7f80-2576-11ea-8582-c7bb632b813e.png)

This error is locat

[2019-12-23 07:53] anikhechoyantumo commented on #78
Use NativeEventEmitter for Android only. On iOS add listeners to notification hub instance.

`let notificationHub = require("react-native-azurenotificationhub/index.ios");`
`notificationHub.addEventListener("register", this._onRegistered);`

[2019-12-23 10:45] ThabrezAhmed opened #79 "Notification click listener for android"
I tried this package and it works like charm for react native Android.
I just want to know, Is there any event listener to track notification click.

Can anyone help me on this. Thanks in advance for your time.

[2019-12-23 11:42] anikhechoyantumo commented on #79
We are currently discussing solutions here:
https://github.com/CatalystCode/react-native-azurenotificationhub/issues/73

[2019-12-27 05:44] ThabrezAhmed commented on #73
I tried this solution. Unfortunately, no luck. Can you please share your code?

[2019-12-27 13:41] anikhechoyantumo commented on #73
On which platform have you tried? It worked only on iOS for me. If it's not working for you maybe it's because you missed something in messaging framework setup?

[2019-12-30 12:43] ThabrezAhmed commented on #73
I'm trying in android. I cross checked the setup also, it looks fine. Can you please tell me if it works on Android for you ?

[2020-01-08 15:44] ariboren opened #80 "Remote notification listener not firing on iOS"
I've carefully followed the installation instructions and have `AppDelegate.m` configured as required. I'm able to successfully register and receive notifications, and `getInitialNotification` works as expected. However, callbacks bound to `NotificationHub.addEventListener('notification', callback)` never fire. Anyone else experiencing a similar issue?

[2020-01-10 07:34] anikhechoyantumo commented on #73
@ThabrezAhmed No, it's still not working on Android. I am trying to implement it by specifying my custom opening activity from AndroidManifest. Will provide more information after successful implementation.

[2020-01-14 05:27] donysukardi commented on #80
I'm experiencing the same issue. And there's no notification fired when the app is on foreground either.

[2020-01-16 13:39] anikhechoyantumo commented on #73
Here is my workaround for Android.

First, I have updated the channel importance from `IMPORTANCE_DEFAULT `to `IMPORTANCE_HIGH `in `ReactNativeNotificationsHandler`. That allows the system to always show the banner so I am only handling the notification tap and not the showing part.

Next, in my `MainActivity.java` I am getting the Intent in `onCreate`method that is created on banner tap. This all

[2020-01-17 09:24] kumarparth380 opened #81 "Issue with iOS registration (404: Url request failed)"
I am getting issue of `Failed To Register For Azure Notification Hub` when calling register function. I am successfully getting device token from request permission function but it throws `Error (404): URL Request Failed for <NSMutableURLRequest:xxxx>` when registering with the connectionString, hubName, senderId and tags.

Is there any issue in creating the notification hub on azure portal? But i

[2020-01-17 11:49] #81 closed

[2020-02-07 21:52] jbenzshawel commented on #80
I suspect this might be due to a conflict between the Azure Notification Hub environment and your publish profile. If you are using an "App Store" iOS profile you need to use the connection string for production Azure Notification Hubs. See this comment on stackoverflow for more information: https://stackoverflow.com/questions/40532965/azure-notification-hub-and-apple-apns-push-notifications-unreg

[2020-02-07 22:29] ariboren commented on #80
Thanks @jbenzshawel. Not sure this is exactly the issue, though. My Azure Hub is configured for production. I'm using the Listen permission in the iOS client app, and the Listen, Manage, Send permission in my .NET server that handles dispatching the notifications to the Hub. Almost everything is working perfectly - users can register, test notifications go through, actual production notifications

[2020-02-07 22:32] jbenzshawel commented on #80
@ariboren I agree. After I commented I reread your post and realized your issue was a little different so I removed my reply. I am able to receive notifications through the notification listener though.

Are you sending notifications through tags?

[2020-02-07 22:37] ariboren commented on #80
Cool, got it. Yeah, I'm using tags to send notifications to individual users.

[2020-02-07 22:46] jbenzshawel commented on #80
Is the event firing in the simulator when testing with this library?

https://github.com/acoomans/SimulatorRemoteNotifications

[2020-02-12 21:18] jbenzshawel opened #86 "Android remoteNotificationReceived event fired multiple times"
When the application is opened from tapping a push notification the 'remoteNotificationReceived' event is fired multiple times for the same notification.

Example:
1. Open app by pressing push notification in app tray
2. Remote notification event fires with payload of push notification sent when app closed
3. Send another notification with app open
4. Remote notification event fires with payload o

[2020-02-13 13:21] soothran commented on #81
I'm also having this issue.

[2020-02-13 21:17] phongcao commented on #78
Thanks @anikhechoyantumo!

[2020-02-13 21:17] #78 closed

[2020-02-13 21:18] phongcao commented on #86
@jbenzshawel I'll try to have a look.

[2020-02-13 21:19] #79 closed

[2020-02-13 21:20] phongcao commented on #79
Let's use #73 to continue our discussion.

[2020-02-13 21:21] phongcao commented on #77
@sw-tt-keyurprajapati Can you please try again with v0.9.2? Feel free to reopen if it stills happen.

[2020-02-13 21:21] #77 closed

[2020-02-13 21:23] phongcao commented on #55
Please try the latest version and re-open if it stills happen.

[2020-02-13 21:23] #55 closed

[2020-02-14 00:58] jbenzshawel commented on #86
Thanks! I have this fixed with JS by doing the following but it would be nice if the native code could handle it:

[code]

[2020-02-14 02:17] sp0033212000 opened #91 "Can not unregister"
When I click the unregister button, the promise return waning: "Connecting string cannot be null"

[2020-02-14 10:14] kumarparth380 commented on #81
@soothran I was using a wrong `Hub name`. Like I was using `Spect-React-Native/React-Native-Notification-Hub` but later I came to know that I just need to use `React-Native-Notification-Hub`.
So you need to have these:

[code]

[2020-02-18 15:53] phongcao commented on #91
@sp0033212000 Does it happen on iOS or Android?

[2020-02-18 16:00] phongcao commented on #5
Closing for now. We'll look into again in the future if it's important.

[2020-02-18 16:00] #5 closed

[2020-02-18 16:00] phongcao commented on #11
Closing for now. We'll look into again in the future if it's important.

[2020-02-18 16:00] #11 closed

[2020-02-18 16:01] phongcao commented on #32
Please try again in the latest version and let me know if it still occurs.

[2020-02-18 16:01] #32 closed

[2020-02-19 16:32] phongcao commented on #76
@anikhechoyantumo Can you please try #94 ?

[2020-02-19 23:11] jbenzshawel commented on #91
@phongcao I am able to replicate this issue on Android

[2020-02-20 04:13] phongcao commented on #73
@anikhechoyantumo For Android, can you try #94? Can you use the combination of `foreground`, `userInteraction` and `coldstart` fields to figure out all scenarios?

[2020-02-20 06:12] sp0033212000 commented on #91
ios platform

[2020-02-20 12:53] phongcao commented on #86
@jbenzshawel Can you please verify this issue on #94? It should be fixed now.

[2020-02-21 18:02] phongcao commented on #86
Feel free to re-open if it happens in the master version.

[2020-02-21 18:02] #86 closed

[2020-02-21 18:03] phongcao commented on #76
Feel free to re-open if it doesn't resolve this issue.

[2020-02-21 18:03] #76 closed

[2020-02-21 18:04] phongcao commented on #73
Feel free to re-open if the master version doesn't resolve this issue.

[2020-02-21 18:04] #73 closed

[2020-02-21 18:38] jbenzshawel commented on #86
@phongcao Sounds good! Sorry I haven't had a chance to test this. I should be able to this weekend. Has a new NPM version been released with this fix?

[2020-02-21 19:36] phongcao commented on #86
No problem. Maybe it'll  be easier for you just to try the new npm version when it's released later this week.

[2020-02-21 20:56] phongcao commented on #80
@ariboren @donysukardi I couldn't reproduce this issue (testing with XCode 11 & iOS 9). Can you try the latest master version and let me know if it still occurs?

[2020-02-21 21:17] phongcao commented on #91
That warning is provided on purpose. You can't unregister without registering using a valid connection string first.

[2020-02-21 21:17] #91 closed

[2020-02-21 21:17] phongcao commented on #80
Please re-open and provide more details if it's still not working for you.

[2020-02-21 21:56] ariboren commented on #80
@phongcao thanks for the reply. Updated to the latest version. I think I may not have been clear in my original post. The listener does fire if the notification is received while the app is in the foreground. And if the app is closed and opened from a notification, `getInitialNotification` does work. However, the `notification` listener doesn't fire when the a notification is received _while the a

[2020-02-21 23:02] ariboren commented on #80
I think I resolved it by adding this condition in `AppDelegate.m`:

[code]

Now the `notification` event fires when the app was opened from a notification received while in the background, which was what I needed. Combined with `getInitialNotification` I can now handle both "reopens" and "launches" from particular notifications. You can probably close this issue now!

[2020-02-21 23:24] phongcao commented on #80
@ariboren Thanks for sharing your solution!

[2020-02-21 23:24] #80 closed

[2020-02-22 16:07] jbenzshawel commented on #86
@phongcao thanks this is resolved however I noticed some issues going from `0.9.1` to `0.9.3`.

In my testing if I did not re-register for push notifications after installing this updated package the app crashes when a push notification is received - this happened both in the simulator and on a device. Could this be related to updating the Azure Notification Hubs SDK in PR94?

All of the configura

[2020-02-22 16:40] phongcao commented on #86
@jbenzshawel That seems strange. Can you create a bug for it and provide more adb logs so that I can reproduce?

[2020-02-22 18:21] jbenzshawel commented on #86
@phongcao Yep I will create a bug. It could potentially be due to something cached.

[2020-02-22 18:37] jbenzshawel opened #100 "Upgrade from 0.9.1 to 0.9.3 requires devices to re-register with Azure Notification Hubs"
## Report

- [x] I have searched [existing issues](https://github.com/CatalystCode/react-native-azurenotificationhub/issues) and this is not a duplicate.

## Environment

- Platforms: Android

- Android version: Android 8 and Android 10

## Issues and Steps to Reproduce
1. Register device with push notifications and version `0.9.1`
2. Send push notifications to device with registered tag
3. Update

[2020-02-22 23:08] phongcao commented on #72
You can use [SimulatorRemoteNotifications](https://github.com/acoomans/SimulatorRemoteNotifications) to simulate sending remote notifications to your app.

[2020-02-22 23:08] #72 closed

[2020-02-22 23:11] phongcao commented on #100
@jbenzshawel Do you think that this issue is a blocker that prevents your app from using v0.9.3?

[2020-02-25 18:40] jbenzshawel commented on #100
Due to having push notifications stabilized with v0.9.1 we opted to stay at v0.9.1 for the time being. Having the app crash after receiving the first new push notification with v0.9.3 is not a risk we want to take at the moment.

[2020-02-25 19:14] phongcao commented on #100
That makes total sense. I'll see what we can do with this issue.

[2020-02-26 15:55] phongcao opened #102 "Support Azure Notification Hub templates"
Azure Notification Hub templates should be supported so that client applications can specify the exact format of the notifications they wants to receive:

https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-templates-cross-platform-push-messages

[2020-02-26 15:58] phongcao opened #103 "Low code coverage on iOS/Android"
We should add more unit tests for iOS/Android to improve the code coverage.

[2020-02-29 00:04] #103 closed

[2020-02-29 00:05] phongcao opened #104 "Low code coverage on iOS"
We should add more unit tests to improve code coverage.

[2020-02-29 00:06] phongcao opened #105 "Low code coverage on Android"
We should add more unit tests to improve code coverage.

[2020-02-29 03:36] #104 closed

[2020-03-03 16:21] kreativ-software commented on #102
Hi, any idea when this is testable?

[2020-03-03 16:26] phongcao commented on #102
I've planned to add this feature in the next version, which will be released within 1 - 2 weeks from now.

[2020-03-04 07:58] kreativ-software commented on #102
Ah cool! If you have a specific branch to test we're more than happy to test it for you.

[2020-03-04 09:02] yasaricli opened #110 "onNewToken android error"
We got this error in our production app today.

Versions:

**react-native-azurenotificationhub: ^0.9.0**
**react-native: 0.59.10 => 0.59.10**

Crashlytics:

[code]

Error Detail:

[code]

Thanks.

[2020-03-04 13:13] phongcao commented on #110
This issue seems related to [Background Execution Limits](https://developer.android.com/about/versions/oreo/background.html#services) on Android 8 as mentioned in this thread:

https://stackoverflow.com/questions/46117554/firebasemessagingservice-crashes-on-android-o-due-to-background-execution-limits

I'll have a look at it soon.

[2020-03-07 05:29] #105 closed

[2020-03-11 08:45] essesve commented on #110
Hello;

We get the same error:

[code]

++

[2020-03-11 22:49] martinop opened #114 "Crash on open ios"
.

[2020-03-11 22:58] #114 closed

[2020-03-12 21:34] #110 closed

[2020-03-12 21:35] phongcao commented on #110
@yasaricli @essesve Fixed in the master branch. Please remember to update your manifest file:

`android:permission="android.permission.BIND_JOB_SERVICE"`

[2020-03-12 23:18] phongcao commented on #100
@jbenzshawel I spent some time today trying to reproduce this issue but didn't succeed. Between step 4 & 5, I assume that you must have rebuilt the apk file and re-install it on your device correct?

[code]

[2020-03-13 07:36] yasaricli opened #116 "twice before the first has returned (IOS)"
I get an error when I try to get permission as follows.

<img width="356" alt="Screen Shot 2020-03-15 at 22 33 47" src="https://user-images.githubusercontent.com/1306620/76709133-2f0f7780-670d-11ea-842d-460959843c7d.png">

[code]
error:

    Cannot call requestPermissions twice before the first has returned.

It only happens when ios and 2nd run

Thanks.

[2020-03-13 07:37] yasaricli commented on #110
It worked but I am experiencing the following error #116

[2020-03-13 11:11] phongcao commented on #116
@yasaricli Can you let me know why you need to call `requestPermissions` method twice? Is it because the first run didn't succeed or you want to request different permissions in the second run?

[2020-03-14 16:29] jbenzshawel commented on #100
Interesting. Here are some more detailed steps:

1. Install Android version `0.9.1` and follow README Android configuration steps for this version: https://github.com/CatalystCode/react-native-azurenotificationhub/tree/ca88e24d02cea630ffd90f3cb96e506146d41d24#android-installation
2. Build app and run the app using the react-native CLI on an Android device or emulator:
[code]
3. Register applicatio

[2020-03-15 14:11] phongcao opened #118 "Issues with "notification" payload type"
Currently "data" notification payload type is handled properly but it's not the case for "notification" type. Both should be handled properly when an app is in foreground or background/killed. More explanation can be found in this thread:

https://stackoverflow.com/questions/37947541/what-is-the-difference-between-firebase-push-notifications-and-fcm-messages

[2020-03-15 14:17] phongcao opened #119 "Support setting large icon from remote URL"
In order to set a large icon for a notification, that icon needs to be bundled as local resources. This feature allows fetching a remote image and set it as a large icon of a notification.

[2020-03-15 14:21] phongcao opened #120 "Remote notification received as JSON string"
Remote notification should be received as a JSON object so that it's easier for apps to consume.

[2020-03-15 14:22] phongcao opened #121 "Can't set Notification's channel name"
There should be a way to set notification channel's name so that it's not hardcoded.

[2020-03-15 18:16] yasaricli commented on #116
When I run "**requestPermissions**" every time in version `0.9.0` it doesn't give an error.

Here's an example of how I run it.

[code]

thanks.

[2020-03-16 06:12] yasaricli commented on #110
Thanks @phongcao

The package has been updated as a master since you are currently unable to release.

    yarn add https://github.com/CatalystCode/react-native-azurenotificationhub.git

no problem for android.

If any error occurs again, I can report it here.

Thanks again.

[2020-03-16 12:38] phongcao commented on #110
@yasaricli You're welcome. I'm going to release a new version soon.

[2020-03-16 15:08] #118 closed

[2020-03-16 15:09] #121 closed

[2020-03-16 15:09] #120 closed

[2020-03-16 15:09] #119 closed

[2020-03-16 15:24] phongcao commented on #110
v0.9.4 has been published!

[2020-03-16 15:46] phongcao opened #124 "Support TypeScript"
TypeScript should be supported for both Android and iOS.

[2020-03-16 15:50] yasaricli commented on #116
I'm waiting for this bug. When can you do it @phongcao

Thanks.

[2020-03-16 15:56] phongcao commented on #116
I plan to have a look at this issue in a couple days and it should be resolved with the next release.

[2020-03-16 17:07] phongcao opened #126 "Support get initial notification"

[2020-03-18 09:38] kreativ-software commented on #102
Hi! Any idea when this is testable?

[2020-03-18 12:40] phongcao commented on #102
@kreativ-software Implementation for Android has been done on [this branch](https://github.com/CatalystCode/react-native-azurenotificationhub/tree/phongcao/mixer-improvements):

iOS will be completed in a couple days.

[2020-03-18 13:26] kreativ-software commented on #102
Nice! Will test tomorrow or the day after

[2020-03-18 13:31] kreativ-software commented on #102
I was checking the android.md. Is it possible to register multiple templates with some time between? aka not all at once?

[2020-03-19 12:51] phongcao commented on #102
I'm not sure about that. Can you just invoke `registerTemplate` multiple times?

[2020-03-19 16:12] #116 closed

[2020-03-19 16:13] phongcao commented on #116
@yasaricli Should be fixed on master branch.

[2020-03-19 16:15] yasaricli commented on #116
thanks @phongcao

[2020-03-19 16:52] phongcao opened #128 "Replace UIUserNotificationSettings deprecated APIs"
[UIUserNotificationSettings](https://developer.apple.com/documentation/uikit/uiusernotificationsettings) has been marked deprecated so we should replace it by UserNotifications Framework.

[2020-03-21 20:51] #128 closed

[2020-03-21 20:51] #126 closed

[2020-03-21 20:51] #102 closed

[2020-03-22 13:42] #124 closed

[2020-03-26 08:33] yasaricli commented on #116
this error continues.

I updated it in v0.9.5 version, it gives error.

[2020-03-26 15:26] phongcao commented on #116
@yasaricli That's strange. I just did some testing again and this issue doesn't seem to occur. Please provide more details/error logs/screenshots if you still see it.

[2020-03-26 15:27] phongcao commented on #116
Make sure you update your `App.js` as well since there is a lot of changes in 095.

[2020-03-26 18:21] yasaricli commented on #116
there is no problem at first start. But then **ctrl + r**, or refresh, gets an error.

![Screen Shot 2020-03-26 at 19 54 16](https://user-images.githubusercontent.com/1306620/77682178-8fbd7080-6fa7-11ea-9850-6bf4b9c63284.png)

<img width="352" alt="Screen Shot 2020-03-26 at 21 17 45" src="https://user-images.githubusercontent.com/1306620/77682169-892ef900-6fa7-11ea-8458-49b76247b0ff.png">

[2020-03-26 21:16] martinop opened #133 "OnTouch Notification"
How can I handle the on touch/click notification on android and ios?

[2020-03-26 22:53] phongcao commented on #133
@martinop For Android, `userInteraction` value is **true** in the notification. For iOS, you'll receive a local notification (`_onLocalNotification`).

[2020-03-28 14:06] #133 closed

[2020-04-02 09:08] lauming1111 opened #134 "Cannot set channel description"
Is there a option call channelDescription to replace "rn-push-notification-channel-description"?
Seem only have channelName now.

[2020-04-02 09:36] lauming1111 commented on #134
or just disable it

[2020-04-02 13:41] phongcao commented on #134
@lauming1111 Right now it's not supported but I can add it when I have time this weekend. May I ask why you want to disable it?

[2020-04-02 13:53] lauming1111 commented on #134
Thanks,
Because I think it is an optional function now.

[2020-04-05 02:47] fedefrei opened #136 "Exception register:config:resolver: is not a recognized Objective-C method"
![IMG_8E751D8332AA-1](https://user-images.githubusercontent.com/7881911/78465603-43241480-76ce-11ea-8346-ac48b206e90b.jpeg)

Trying to implement push notifications on iOS I'm getting this error when trying to run on the device.

## Report

- [x] I have searched [existing issues](https://github.com/CatalystCode/react-native-azurenotificationhub/issues) and this is not a duplicate.

## Environment

[2020-04-05 22:16] phongcao commented on #136
I've just tried a fresh setup on an iPhone (13.4) using v095 and couldn't reproduce this issue. Can you share some sample code about your registration method?

[2020-04-06 00:15] fedefrei commented on #136
I'm calling it like this:

on app constructor I do

[code]

then on request permissions :

[code]

On registered goes like this:

[code]

and finally register:

[code]

Is that making sense? I'm wondering if I should call requestPermissions on the constructor.

[2020-04-06 20:49] #134 closed

[2020-04-06 21:55] phongcao commented on #136
It makes sense. Seems to me that there is some components that haven't been initialized properly at the time you invoked `NotificationHub.register(...)` so can you try moving `requestPermissions` method out of your constructor? Maybe just for quickly testing, create a requestPermissions button and click on it.

[2020-04-06 22:15] fedefrei commented on #136
Will check that.

[2020-04-06 22:55] fedefrei commented on #136
I've set a 10 seconds timer after _onRegistered(deviceToken) is called but I keep getting the same error...

[code]

[2020-04-07 01:04] fedefrei commented on #136
I´ve set the exact example as my App but I keep getting that error.

[2020-04-07 02:08] phongcao commented on #136
In your App.js file, can you confirm that you're import azure notification hub like this for iOS:

[code]

This is something easily overlooked. Also, are you using v095?

[2020-04-07 12:23] fedefrei commented on #136
Yes sir, last version and I'm using react-native-azurenotificationhub/index.ios.
I'm on React Native 0.59.5 and xCode 10 I'm not sure if that makes a difference.

[2020-04-07 14:15] ramonvermeulen opened #140 "Only receiving notifications on emulators instead of real devices"
## Report

- [x] I have searched [existing issues](https://github.com/CatalystCode/react-native-azurenotificationhub/issues) and this is not a duplicate.

## Environment

- Platforms: Android

- Android version: 9

- iOS version: -

## Issues and Steps to Reproduce
I can only receive notifications on emulators instead of real devices. Once I install my application on a real device as debug or rele

[2020-04-08 08:38] ramonvermeulen commented on #140
Update: Finally found the bug! Due to this post I found somewhere in a deep hole on google (https://disqus.com/by/maravirginianavas/).
Apparently I used the wrong hub name, the weird thing is that the javascript runtime does not give any kind of error when using a wrong hubname, this made debugging of this issue really hard.

[2020-04-08 08:45] #140 closed

[2020-04-08 09:48] lauming1111 commented on #134
thank you for the update.

is there a parameter that can handle badge numbers in the main theme in android?
how to make `notification.setNumber(Integer.parseInt(numberString));` can dynamic change from react-native?

so, I can pass the real unread message to the app icon badges in android.

[2020-04-08 12:43] phongcao commented on #140
Thanks for your update. It’s strange that this error doesn’t get caught.

[2020-04-08 14:21] phongcao commented on #136
I haven't used any RN version that is lower than 0.60 for a while so that might be the issue. I wonder if you set a break point in the native register method, does it get hit? Also, can you try reading the config object that it receives from the javascript layer? I can also try debugging with RN0.59.5 later when I have time.

[2020-04-09 14:03] phongcao commented on #134
@lauming1111 Try adding "number" in your notification payload:

https://github.com/CatalystCode/react-native-azurenotificationhub/blob/7275f6c1d5753ea7f50deb037aa010fcc6d74584/android/src/main/java/com/azure/reactnative/notificationhub/ReactNativeNotificationsHandler.java#L130

[2020-04-15 15:04] rohitadvani14 commented on #80
@jbenzshawel I am facing this problem, I am using tags for sending notifications.
Remote notification listener is getting fired when app is in the background and I open the app from the notification bar but it not firing in the cases -
1) When the app is in foreground.
2) When the app is killed, I am receiving the push but clicking on the notification does not fires remote notification listener.
I

[2020-04-16 05:38] rohitadvani14 commented on #80
Ok I got it.
1) Foreground notifications worked by adding local notification listener.
2) To solve the second issue, touching the notification does not fires on notification listener when the app is in killed state. I added the following code in didFinishLaunchingWithOptions method

 if ([launchOptions objectForKey:UIApplicationLaunchOptionsRemoteNotificationKey]) {
            NSDictionary *notif

[2020-04-27 10:20] vishal-techbitsolution opened #141 "No notification showed if app is open"
## Report

- [x] I have searched [existing issues](https://github.com/CatalystCode/react-native-azurenotificationhub/issues) and this is not a duplicate.

## Environment

- Platforms: Android/IOS

- Android version: 10

- iOS version: 13

## Issues and Steps to Reproduce
Send notification to app, if app is open no notification will show on device, if app is minimized/closed and try to send the not

[2020-04-28 12:37] guptahardik17 commented on #141
Same issue with me also, urgently need the solution of this for iOS.

For android, if the app is open,  then i am pushed it as local notification using react-native-notifications. This is i think not the good way even, but temporarily it works.

For iOS, i don't know how to handle it. Need your help @phongcao

[2020-04-28 15:38] phongcao commented on #141
@vishal-techbitsolution @guptahardik17 Can you try v0.9.4 and let me know if that is the expected behavior for you? In v0.9.5, iOS uses a newer notification API and by design, the system silences notifications for foreground apps:

https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/SchedulingandHandlingLocalNotifications.html

If you want

[2020-04-29 05:26] vishal-techbitsolution commented on #141
Hey @phongcao I tried version 0.9.4 on android, but notifications are still not showing if app is in foreground state. It only worked if app is closed or background state.

[2020-04-29 14:32] phongcao commented on #141
@vishal-techbitsolution I'm afraid that is the expected behavior. We prefer to handle remote notifications in our app when it's in foreground rather than using alarm service to notify. What you probably want is the revert of this PR:

https://github.com/CatalystCode/react-native-azurenotificationhub/pull/109

[2020-04-29 15:13] vishal-techbitsolution commented on #141
Hey @phongcao You are correct, although I am not using react-native-firebase. But I believe I can modify FirebaseMessageService file in this packgae to test the behaviour that I expect.
[code]

[2020-04-29 15:28] vishal-techbitsolution commented on #141
Hey @phongcao I tested the android functionality with my previous message. Now, even app is in foreground state notifications are shown in notification tray.
Just wanted to know, what is the use of putboolean in functionality which I commented. I am not sure about this but if you allow I want to make a new PR with this change.

![image](https://user-images.githubusercontent.com/59605655/80614309-e

[2020-04-29 17:12] phongcao commented on #141
The boolean values are part of the notification payload that tell you:

- KEY_REMOTE_NOTIFICATION_FOREGROUND: true if the app is running in foreground, false otherwise.
- KEY_REMOTE_NOTIFICATION_USER_INTERACTION: true if user has tapped on the notification in the notification center, false otherwise.
- KEY_REMOTE_NOTIFICATION_COLDSTART: true if the app wasn't running and user has just launched it,

[2020-04-29 17:29] vishal-techbitsolution commented on #141
But Can't we just pass payload with sendNotification function. I believe it won't affect others functionality like this
if (notificationHubUtil.getAppIsForeground()) {
            bundle.putBoolean(KEY_REMOTE_NOTIFICATION_FOREGROUND, true);
            bundle.putBoolean(KEY_REMOTE_NOTIFICATION_USER_INTERACTION, false);
            bundle.putBoolean(KEY_REMOTE_NOTIFICATION_COLDSTART, false);
}
Reac

[2020-04-29 17:46] vishal-techbitsolution commented on #141
Also can you please confirm when are the changes of master will be released ?
I believe it will be a part of new release and they won't be available in version 0.9.5

[2020-04-29 19:10] phongcao commented on #141
No, we can't since that's the purpose of PR #109 to make the notification not shown in the center when the app is in foreground. `ReactNativeNotificationsHandler.sendNotification(...)` uses the alarm service to create the system notification.

Yes, these changes will be integrated in the next release. I can also create a minor release for v0.9.5 later this week if that's something required for you

[2020-04-30 03:53] vishal-techbitsolution commented on #141
@phongcao That would be great, if your can create a minor release. It will solve my pipeline issue

[2020-05-02 14:29] vishal-techbitsolution commented on #141
@phongcao can you make a release tomorrow, I am still stuck with issue. Once you make a new release I believe this will sort out everything

[2020-05-03 01:10] phongcao commented on #141
@vishal-techbitsolution  [v0.9.5-Patched.1](https://www.npmjs.com/package/react-native-azurenotificationhub/v/0.9.5-Patched.1) has been published!

[2020-05-03 01:11] #141 closed

[2020-05-05 12:01] theromie opened #146 "Not Receiving Notification on Android emulator if app is in background"
I have successfully register device using register() and able to get response of registerID but when i am trying to send notification from Test Send Azure Notification Hubs that time device Registration ID is also showing in results but no notification received on android emulator.

`remoteNotification = () => {
  PushNotificationEmitter.addListener(
    EVENT_REMOTE_NOTIFICATION_RECEIVED,
    thi

[2020-05-06 09:47] ahmadkhudeish opened #147 "minSdkVersion 16 cannot be smaller than version 26 declared in library [:react-native-azurenotificationhub]"
## Report

- [ yes] I have searched [existing issues](https://github.com/CatalystCode/react-native-azurenotificationhub/issues) and this is not a duplicate.

## Environment

- Platforms: Android

- Android version: 9

- iOS version:

## Expected Behavior
***Describe what you expected would happen.***
I know this issue is because I have the gradle minSdkVersion < library version which makes it fail

[2020-05-06 13:46] theromie commented on #100
I have installed 0.9.4 version and when i am sending Test message from Portal App crashes when `onRemoteNotification` event fires

[2020-05-07 14:06] antonandreyev commented on #147
That's right. I see the commit changing min sdk from 16 to 26 was done only 9 days ago. Is there any reason we are restricted to Android 8 and above? If so please maintainers change the readme because it reduces the usabulity of the library a lot. Meanwhile we can use v0.9.5 (not patched) in which we don't have this restriction.

[2020-05-07 14:07] theromie commented on #43
**Failed to complete token refresh**
Earlier it was working but it stopped working.

2020-05-07 19:26:47.354 9523-9855/PACKAGE I/ReactNativeNotifs: Manual token refresh => publishing existing token (TOKEN)
2020-05-07 19:26:48.062 9523-9860/PACKAGE  D/ReactNativeRegistration: FCM Registration Token: TOKEN
2020-05-07 19:26:48.065 9523-9860/PACKAGE  D/ReactNativeRegistration: NH Registration refreshi

[2020-05-07 14:25] theromie commented on #146
After adding Local Notification inside _onRemoteNotification it started working.

[2020-05-07 14:25] #146 closed

[2020-05-07 14:49] theromie opened #148 "ReactNativeRegistration: Failed to complete token refresh"
## Report

- [ ] I have searched [existing issues](https://github.com/CatalystCode/react-native-azurenotificationhub/issues) and this is not a duplicate.

## Environment

- Platforms: Android

- Android version: 9

- iOS version:

## Issues and Steps to Reproduce
***Replaces this with steps to repro your issue, if applicable.***

## Expected Behavior
**Not receiving Registration ID after _onAzureN

[2020-05-07 16:05] phongcao commented on #147
At first, I thought that it would be a good idea to upgrade the min sdk to increase the compatibility with some new react libraries. However, this turns out to be causing more trouble than helping so I'll submit a PR to revert this change later this week.
@vishal-techbitsolution You can continue to use v0.9.5 patched version.

[2020-05-09 13:29] BrenoGO commented on #136
I solved the problem upgrading react native upper than 0.60.

[2020-05-09 14:01] phongcao commented on #136
@BrenoGO Thanks for letting us know!

[2020-05-09 14:01] #136 closed

[2020-05-12 07:44] vishal-techbitsolution commented on #147
Hey @phongcao Thanks, But I have a query, The notification API require min sdk version 26, this is the main reason I requested to update minsdk version. But if its changed to 16, won't it have any effect with newer updates.

[2020-05-13 21:52] ahmadkhudeish commented on #147
Hey @phongcao I'm still having issues with this bug, when will this be fixed? thanks

[2020-05-14 03:10] phongcao commented on #147
@ahmadkhudeish Please use [v0.9.5](https://github.com/CatalystCode/react-native-azurenotificationhub/tree/v0.9.5) (not patched) for now. I'll update master whenever I have a chance this week.

[2020-05-14 03:11] phongcao commented on #147
@vishal-techbitsolution Future updates will be using min sdk version 16 since we want to support older Android devices.

[2020-05-14 04:00] ahmadkhudeish commented on #147
@phongcao great thanks, looking forward to it

[2020-05-15 20:11] #147 closed

[2020-05-17 17:49] arthwood commented on #31
Hi @phongcao , first of all thank you for this library - it makes the integration with azure a lot easier!
Just was wondering if it is possible to get the counterpart FCM/GCM token available on Android.
Since I register/install the app in hub from the backend for iOS, it would make it more consistent to do the same approach for Android. However, instead I have to register in the hub for Android on

[2020-05-19 14:34] phongcao commented on #31
@arthwood I understand where you're coming from. Unfortunately, this is not currently supported. At minimum, would it help if we add a new event to notify the app whenever it receives a new device token (the notification hub stills invokes the registration method in this case)?

https://github.com/CatalystCode/react-native-azurenotificationhub/blob/c6fe70272dd7d7449a81a2cf965f72304c3644a3/android/

[2020-05-19 14:52] arthwood commented on #31
Yes, I think that would be useful.
I eventually moved the registration for iOS from BE to FE and dropped the installation process (it seems overcomplicated and I found it's behaviour not quite consistent).

[2020-05-19 16:07] phongcao opened #151 "Notify apps about device token"
Similar to what iOS current has, Android should provide a way to notify apps about device token.

[2020-05-19 19:33] DiogoAbu commented on #151
I`m using [patch-package](https://github.com/ds300/patch-package) and wrote this, if anyone wanna turn this into a PR.

react-native-azurenotificationhub/android/src/main/java/com/azure/reactnative/notificationhub/ReactNativeConstants.java
[code]

react-native-azurenotificationhub/android/src/main/java/com/azure/reactnative/notificationhub/ReactNativeNotificationHubModule.java
[code]

[2020-05-21 09:25] aajain16 opened #152 "unregister method is not working in iOS platform"
## Environment
- Platforms:  iOS
- iOS version:

## Issue
After calling unregister method in iOS then getting the logs "unregistered successfully " and now i am sending notification. After unregistered the device notification should not coming to my device but i am getting the notification this only happen in iOS and in android same function work perfectly..

[2020-05-27 12:32] TOSSYUTTANA opened #153 "How can i handle notification when an app is closed"
I need to handle notification  when an app is not running

[2020-05-28 19:02] tpriyesh commented on #153
I am also facing issue like this. I am not seeing consistency in receiving notification. I have checked on galaxy device not receiving notification sometime when app is in foreground. Sometime notification comes, sometime doesn't. While when app is closed, I am not receiving any notification in my galaxy device, while I was receiving notifciation on Nexus 10 when app is closed. How to handle this

[2020-05-28 19:04] tpriyesh commented on #153
I am new to mobile development. Is it possible notification also depends upon which device I am using like on galaxy different behaviour, on nexus differnt ?

[2020-06-05 13:16] diegomichell opened #156 "notification event not fired for remote notifications when app fresh open (not on background)"
## Report

- [ ] I have searched [existing issues](https://github.com/CatalystCode/react-native-azurenotificationhub/issues) and this is not a duplicate.

## Environment

- Platforms: iOS

- Android version:

- iOS version: 13.5

## Issues and Steps to Reproduce
1. Register for notifications and fully close the app
2.You will still get notifications but when you click on them app will open  'notif

[2020-06-05 19:17] BrenoGO commented on #146
What would be the "Local Notification inside _onRemoteNotification?!"

[2020-06-05 21:22] BrenoGO opened #157 "Get the payload data after user open the app after click in the notification"
## Report

- [ X ] I have searched [existing issues](https://github.com/CatalystCode/react-native-azurenotificationhub/issues) and this is not a duplicate.

## Environment
- Platforms: Android

## Issues and Steps to Reproduce
Configure the notifications just as explained in the documentation

## Expected Behavior
Add an event listener that would be called after the user opened the app by clicking

[2020-06-05 22:04] BrenoGO commented on #157
here's my onRemoteNotification:

[code]

It is just called when the AppState.currentState === 'active'. I know that because the logger function in the first line is called just in that case.. I have seen in other issues that I should be able to get the  `foreground`, `userInteraction` and `coldstart` in many situations, but I just get the foreground === true..
To be clear, I do receive the notific

[2020-06-08 10:58] theromie commented on #146
import react-native-notifications and inside _onRemoteNotification add
`Notifications.postLocalNotification({
      title: title,
      body: `${notification.message}`,
      extra: 'data',
    });`

[2020-06-08 14:03] phongcao commented on #157
@BrenoGO I haven't seen this issue before. In your case, I would expect `_onRemoteNotification` is being fired with `foreground=false` and `userInteraction=true`. Can you try invoking `getInitialNotification` to see if you can get that notification? What's your device used for testing?

[2020-06-08 14:35] BrenoGO commented on #157
the device I'm testing is a Tablet Galaxy, model SM-T280.

erro trying to get initial notification:
{
  "framesToPop":1,
  "nativeStackAndroid":[],
  "userInfo":null,
  "message":"Activity intent is null",
  "code":"E_GET_INIT_NOTIF",
  "line":18,
  "column":1111,
  "sourceURL":"index.android.bundle"
}

This "Activity intent is null", should mean the error is in the AndroidManifest.xml?!

AndroidM

[2020-06-08 14:59] BrenoGO commented on #157
how I implemented:
index.js:
[code]

push.js:
[code]

[2020-06-08 15:10] phongcao commented on #157
Instead of invoking `getInitialNotification` method inside `componentDidUpdate`, can you try calling it later to see if react can successfully retrieve the current activity?

[2020-06-08 17:47] BrenoGO commented on #157
I tried a button that I invoked after all, and still got exactly he same error..

[2020-06-09 11:39] BrenoGO commented on #157
After removing the SplashActivity from AndroidManifest I am getting the result I want, but just if the app is in the foreground or background. If it is closed I am still trying to figure out how to invoke the onRemoteNotification..

[2020-06-09 20:28] BrenoGO commented on #157
I solved it setting the addListeners in the constructor of the index.

[2020-06-09 20:28] #157 closed

[2020-06-10 02:09] phongcao commented on #157
That's great to know!

[2020-06-10 06:08] FlashLim commented on #157
Having the same issue here with error 'Activity intent is null'.
I received the notification while the app is close. After open the app, I trigger getInitialNotification by button onPress ( just to ensure the concept works). Then I receive error 'Activity intent is null'. Any solution?

@BrenoGO  Mind to share what have u done? Didn't get the idea of what u mean in index.

[2020-06-10 07:03] FlashLim commented on #157
Found the solution, the intent is only retrievable in the
``<action android:name="android.intent.action.MAIN" />``
activity.

So if you are having other activity as the first activity before reaching react native, you probably have to customise your own native code to achieve that.

[2020-06-11 06:36] FlashLim commented on #157
I found the solution for this on whoever are having multiple activities before the loading the react native package.

Remember to get your bundle in your first activity then pass to the activity that are running react native. However, here is the trick. The native code is checking for the action which i am not sure why.
``
        Bundle extras = getIntent().getExtras();
        if (extras != null

[2020-06-11 13:57] phongcao commented on #157
@FlashLim Would you like to create a PR for it? I'll have a look at it whenever I have time.

[2020-06-14 19:46] hosseinjalili opened #159 "error in RCTAzureNotificationHubManager"
## Report

- [ ] `remoteNotificationReceived` is not a supported event type for RCTAzureNotificationHubManager. Supported events are: `localNotificationReceived`, `RemoteNotificationReceived`, `remoteNotificationRegistered`, `remoteNotificationRegisteredError`, `azureNotificationHubRegistered`, `azureNotificationHubRegisteredError`

## Environment

- Platforms: IOS

- iOS version: 13.5 simulator

[2020-06-14 20:11] hosseinjalili commented on #159
because this pod 'RNCPushNotificationIOS' and same key exist in it for remote received that error occurred

[2020-06-14 21:23] hosseinjalili commented on #156
did you installed this package @react-native-community/push-notification-ios  or this react-native-push-notification ?
because this issue #159

[2020-06-14 21:57] diegomichell commented on #156
Yes I had installed @react-native-community/push-notification-ios in the past, but by the time I got this error I didn't have it on my dependencies anymore.

[2020-06-15 11:36] FlashLim opened #160 "Register in backend and Baidu"
## Report

- [ ] I have searched [existing issues](https://github.com/CatalystCode/react-native-azurenotificationhub/issues) and this is not a duplicate.

## Environment

- Platforms: Android

## Issues and Steps to Reproduce
I realize that this library doesn't support registration for backend. In order to get FCM registration token from react native, calling register in react native will directly

[2020-06-16 11:03] FlashLim opened #161 "Notification received event is not trigger while app is in background"
## Report

- [ ] I have searched [existing issues](https://github.com/CatalystCode/react-native-azurenotificationhub/issues) and this is not a duplicate.

## Environment
- Platforms: Android
- Android version: 10

## Issues and Steps to Reproduce
Start the android application.
Press Home button (pause).
Fire Notification.
Receive Notification (shows in Notification list).

either:
Open up the appl

[2020-06-16 15:20] BrenoGO commented on #73
So, the solution in IOS is installing the react-native-firebase? I guess the coldstart is just for Android, so what is the official solution to ios?

[2020-06-16 18:02] BrenoGO commented on #73
In IOS my solution when the app is in kill mode was using the getInitialNotification().

[code]

[2020-06-17 05:16] FlashLim opened #162 "Question: How to set color on notification"
## Report

- [ ] I have searched [existing issues](https://github.com/CatalystCode/react-native-azurenotificationhub/issues) and this is not a duplicate.

## Environment
- Platforms: Android
- Android version: 10

## Issues and Steps to Reproduce
I try to setup template with the value of "color": "#000000" received with an error,
it seems like # cannot be accepted by the template since template ha

[2020-06-18 07:49] kumarparth380 commented on #157
@FlashLim What is the workaround for the `Activity intent is null` issue? I am also getting the same issue as I also have the SplashActivity.

[2020-06-18 11:13] FlashLim commented on #157
Make sure you have action set while start your MainActivity.
[code]

[2020-06-18 11:25] kumarparth380 commented on #157
that still gives the same error of `Activity Intent of null`.

[2020-06-18 12:28] kumarparth380 commented on #136
@phongcao any other workaround/fix apart from upgrading the React-native version to above 0.60?

[2020-06-24 08:40] slavril commented on #153
Yes @tpriyesh tp
I see exactly problem you face in galaxy, after hours investigation, i think this is the reason
https://developer.android.com/topic/performance/background-optimization?hl=vi

[2020-06-27 21:12] classtronaut opened #163 ""Native Module cannot be null" on iOS"
## Report

- [ x ] I have searched [existing issues](https://github.com/CatalystCode/react-native-azurenotificationhub/issues) and this is not a duplicate.

## Environment

- iOS version: 13.5.1

## Issues
I am receiving the error `Invariant Violation: Native module cannot be null.` whenever I try and use the hub provided by `require('react-native-azurenotificationhub/index.ios')`. I also receive

[2020-06-29 05:05] swizes commented on #163
I am facing the same issue, using latest version of rwact native and using the module version 0.95 (not the patched one)

[2020-06-29 18:04] classtronaut commented on #163
Not sure if this will be the solution for anyone else running into this but my problem ended up being that I was trying to import the ios notification hub as `const iosNotificationHub = require('react-native-azurenotificationhub/index.ios');` instead of as the example name `NotificationHub`. When I change that back things run properly.

[2020-06-29 18:04] #163 closed

[2020-07-01 18:49] kumarparth380 commented on #156
I am also having the same issue as `notification event not fired for remote notifications when app fresh open (not on background)` also I am unable to fetch the payload from notification but couldn't do so. I tried putting debugger on the AppDelegate.m code for notification even and surprising it doesn't go on that point if notification is received on background and opened.

[2020-07-02 01:36] kumarparth380 opened #164 "Notification received event is not trigger and unable to fetch payload in iOS"
## Report

- [ ] I have searched [existing issues](https://github.com/CatalystCode/react-native-azurenotificationhub/issues) and this is not a duplicate.

## Environment

- Platforms: iOS

- iOS version: 9.0
React-Native: 0.62.1
react-native-azurenotificationhub - 0.9.5-Patched.1

## Issues and Steps to Reproduce
Start the iOS application.
Press Home button (pause/background).
Fire Notification.
R

[2020-07-12 23:23] androidjaijai commented on #159
Facing the same issue in one of the current projects rushing for. Wishing a patch for this issue will be release ASAP. Thanks!

[2020-07-22 11:40] Doychev opened #166 "Fix for: `remoteNotificationReceived` is not a supported event type for RCTAzureNotificationHubManager"
I have found a little bug, not 100% sure if it's a configuration problem or a general iOS issue. I believe it's a single letter typo - remoteNotificationReceived is expected to have a capital R in front.

**TL;DR - in node_modules/react-native-azurenotificationhub/ios/AzureNotificationHubIOS.js:25 -
change remoteNotificationReceived to RemoteNotificationReceived**

--

## Environment
- Platforms:

[2020-07-27 12:36] ramonvermeulen commented on #156
I am currently facing exactly the same issue on iOS only. The eventlistener on notification is not fired from a clean boot. Only when the app is running in the background the event is fired for me on iOS. How can I get the initial notification?

[2020-07-29 03:05] imsam67 opened #167 "Build fails with Task :react-native-auth0:compileDebugJavaWithJavac FAILED"
I followed the instructions to set this up in a React Native 0.63.1 app and it no longer builds successfully.

Here's the output I'm seeing:
[code]

[2020-08-12 04:54] dhruvatara opened #168 "How are we supposed to use this library on an app that supports both android and ios?"
## Report

- [x] I have searched [existing issues](https://github.com/CatalystCode/react-native-azurenotificationhub/issues) and this is not a duplicate.

## Environment

- Platforms:

Android and iOS

## Issues and Steps to Reproduce
There are separate examples of the react native component we can use for Android and iOS platforms, but there is no guidance on what the component should look like i

[2020-08-12 20:33] mgoldfi1 opened #169 "I want to navigate app off a notification but getInitialNotification returning null no matter what/ _onRemoteNotification is working properly"
## Report

- [X] I have searched [existing issues](https://github.com/CatalystCode/react-native-azurenotificationhub/issues) and this is not a duplicate.

## Environment

- Platforms: So far only tested iOS,
- iOS version: 13.6 and lower

## Issues and Steps to Reproduce
1.  Generate push notification
2.  App is either minimized or terminated
3.  User clicks on notification or opens app
4. getInit

[2020-08-14 10:11] sw-tt-keyurprajapati commented on #141
How can show a notification popup on top of device when app in foreground in android?

[2020-08-20 17:15] mgoldfi1 commented on #169
To anyone encountering a similar issue:

I realized this problem only occurs in debug/release builds but not distribution builds such as testflight which was very difficult for me to find out and eventually discovered by accident.  After updating APNS certs to production and pushing the build to testflight, the getInitialNotification method is being hit on app cold  start through a push notificati

[2020-08-24 07:49] olie-chan commented on #156
Any update on this?

We have an existing app that used to get the notification event fired on ios when in the foreground which doesn't seem to be triggered anymore. I wonder if it's possible that IOS changed the notification behaviour?

[2020-08-24 13:24] BrenoGO opened #170 "Issue in some Android registrations (Unauthorized)"
## Report

- [ X ] I have searched [existing issues](https://github.com/CatalystCode/react-native-azurenotificationhub/issues) and this is not a duplicate.

## Environment

- Platforms: Android

Sometimes, some user tries to register in NotificationHub and in the "then" of the NotificationHub.register everything is fine, but then the event of azureNotificationHubRegisteredError is called, instead

[2020-08-25 17:58] #168 closed

[2020-08-26 08:22] olie-chan commented on #164
@kumarparth380 Did you manage to get anywhere with this? I've got the same issue

[2020-08-31 15:18] jayjac opened #171 "Android min SDK 16 or 26 ?"
I was just wondering what the min sdk was for android? It says reverted back to API 16 but when building with minSdkVersion < 26, I get a manifest merging error saying I need to crank up the minSdkVersion to 26 or later.
In the meantime I have used the <uses-sdk tools:overrideLibrary="com.azure.reactnative.notificationhub"/> directive as a workaround.

Thanks guys.

[2020-09-03 13:47] buraksari1993 opened #172 "How to handle notification is opened"
How do I know if the application is opened by clicking the notification when the application is closed?

FCM payload looks like below:

[code]

This is using "click_action" on firebase. But we couldn't find this function on "azurenotificationhub". And I don't know how to do this.
As a result, I want to open the page I want when the notification is clicked while the application is closed.

[2020-09-07 07:45] qnill commented on #172
I have same problem.
+1

[2020-09-08 15:47] KiranC10 commented on #171
Can you share your workaround? i am also facing the same issue

[2020-09-08 15:53] jayjac commented on #171
My bad, I pasted the XML and it was removed
Just add this to your manifest as a child of the manifest tag, that is outside of the application tag:
[code]

[2020-09-08 16:15] KiranC10 commented on #171
i have added this line
</application>
    <uses-sdk tools:overrideLibrary="com.azure.reactnative.notificationhub"/>

now the issue is

The prefix "tools" for attribute "tools:overrideLibrary" associated with an element type "uses-sdk" is not bound.

[2020-09-08 16:18] jayjac commented on #171
you need to add this
[code]
as an attribute to the manifest tag.

So you should end up with something like this:

[code]

[2020-09-08 16:26] KiranC10 commented on #171
This Worked for me

Thank you @jayjac

[2020-09-08 16:29] KiranC10 commented on #171
Foreground services doesn't work for this library also the notifications icon doesn't change.
as a workaround i have added this line
`<meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/noti" />`

but its not working

[2020-09-08 18:14] KiranC10 opened #173 "How to set notification icon?"
## Report

- [ ] I have searched [existing issues](https://github.com/CatalystCode/react-native-azurenotificationhub/issues) and this is not a duplicate.

## Environment

- Platforms:

- Android version:

- iOS version:

## Issues and Steps to Reproduce
***Replaces this with steps to repro your issue, if applicable.***

## Expected Behavior
***Describe what you expected would happen.***

## Actual

[2020-09-08 18:16] KiranC10 commented on #173
I am using this line of code inside AndroidManifest.xml
[code]
but its not working.

[2020-09-09 03:57] KiranC10 commented on #66
It doesn't Work with latest version also
`"react-native-azurenotificationhub": "^0.9.5-Patched.1",`

[2020-09-09 17:25] aamir-synapsesai opened #174 "Notification icon is not coming while receiving the notifications"
## Report

- [ ] I have searched [existing issues](https://github.com/CatalystCode/react-native-azurenotificationhub/issues) and this is not a duplicate.

## Environment

- Platforms: Android

- Android version:

- iOS version:

## Issues and Steps to Reproduce
***Replaces this with steps to repro your issue, if applicable.***

## Expected Behavior
***Describe what you expected would happen.***

#

[2020-09-10 05:47] KiranC10 commented on #174
Add this line in AndroidManifest.xml

`<meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@mipmap/ic_notification" />`

make sure the icon is transparent and verify the size.

[2020-09-14 10:56] roycwc commented on #166
possible name collision with
[code]
in
[code]

[2020-09-24 07:25] LimanASL opened #175 "Android Notification not work in foreground"
## Report

- [ ] I have searched [existing issues](https://github.com/CatalystCode/react-native-azurenotificationhub/issues) and this is not a duplicate.

## Environment

- Platforms:

- Android version:

- iOS version:

## Issues and Steps to Reproduce
***Replaces this with steps to repro your issue, if applicable.***

## Expected Behavior
***Describe what you expected would happen.***

## Actual

[2020-09-24 10:56] nithinyell commented on #175
+1

[2020-09-25 01:16] LimanASL commented on #175
[https://rnfirebase.io/messaging/notifications](url)

Regarding to the document from 'react-native-firebase', if the application is in the foreground, an event will be delivered containing the notification data and no visible notification will be displayed. See the Usage documentation to learn more about handling events.

In order to display the foreground notification, one of the solutions is use

[2020-09-29 10:52] nithinyell opened #176 "Android Register template is not working"
### **Register template** function is not working to receive the push notifications.

- Android version: **Android OS**

## Issues and Steps to Reproduce
***Replaces this with steps to repro your issue, if applicable.***

App using `registerTemplate`, is not receiving any push notifications.

## Expected Behavior
***Describe what you expected would happen.***
Application is receiving push Notifica

[2020-09-29 12:13] omerakinusf commented on #172
+1

[2020-09-30 06:05] nithinyell commented on #175
Thanks for the update

[2020-09-30 06:05] nithinyell commented on #176
@phongcao Please take a look.

[2020-10-01 10:13] nithinyell commented on #176
We are using `register()`
Decided not to use` registerTemplate() `as we do not see any push notifications for it.

[2020-10-01 10:13] #176 closed

[2020-10-19 05:53] khanhduy62 opened #177 "[iOS] crash right after calling requestPermissions"
## Report

- [ ] I have searched [existing issues](https://github.com/CatalystCode/react-native-azurenotificationhub/issues) and this is not a duplicate.

## Environment
- Platforms:  iOS
- iOS version:
  + xcode: 12.0.1
  + real device: iphone 11 (14.0.1)
-  "react-native-azurenotificationhub": "^0.9.5-Patched.1",
-  "react-native": "0.63.2",

## Issues and Steps to Reproduce
- I realize that my

[2020-10-20 17:49] yasaricli commented on #172
+1

[2020-10-24 08:50] nithinyell commented on #173
# Android
`We have used  `"react-native-notifications": "^3.3.4"`

# iOS:
[code]

[2020-10-24 08:51] nithinyell commented on #152
+1

[2020-11-15 15:03] rlsbelmiro commented on #159
Face the same issue +1
I am testing in iOS 13.
![Simulator Screen Shot - iPhone 11 - 2020-11-15 at 10 01 39](https://user-images.githubusercontent.com/58798894/99188419-9701dc00-273a-11eb-891e-9f5aa8c318d9.png)

[2020-11-16 00:07] rlsbelmiro commented on #159
I found an alternative solution
Change line 25 in \node_modules\react-native-azurenotificationhub\ios\AzureNotificationHubIOS.js
from
` const DEVICE_NOTIF_EVENT                        = 'remoteNotificationReceived'; `
to
` const DEVICE_NOTIF_EVENT                        = 'RemoteNotificationReceived';`

[2020-11-16 00:08] rlsbelmiro commented on #159
I found an alternative solution
Change line 25 in \node_modules\react-native-azurenotificationhub\ios\AzureNotificationHubIOS.js
from
const DEVICE_NOTIF_EVENT = 'remoteNotificationReceived';
to
const DEVICE_NOTIF_EVENT = 'RemoteNotificationReceived';

[2020-11-16 00:09] rlsbelmiro commented on #159
I found an alternative solution
Change line 25 in \node_modules\react-native-azurenotificationhub\ios\AzureNotificationHubIOS.js
from
`const DEVICE_NOTIF_EVENT = 'remoteNotificationReceived';`
to
`const DEVICE_NOTIF_EVENT = 'RemoteNotificationReceived';`

[2020-12-01 04:45] rlsbelmiro commented on #164
@kumarparth380 and @olie-chan Did you find solution about this? I have same issue and I don't know where is a problem.

[2020-12-04 05:00] aprilmintacpineda commented on #147
Still exists today. Requiring us to change minSdkVersion to 26

[2020-12-04 05:27] aprilmintacpineda opened #178 "Requires us to do minSdkVersion 26 but doing so breaks react-native"
## Report

- [x] I have searched [existing issues](https://github.com/CatalystCode/react-native-azurenotificationhub/issues) and this is not a duplicate.

## Environment

- Platforms: android

- Android version: N/A, the app doesn't even run.

- iOS version: N/A

I'm getting errors similar to:

[code]

## Issues and Steps to Reproduce

Do

[code]

Then run the app on a device

## Expected Behavior

[2020-12-07 00:52] rlsbelmiro commented on #166
Hello, any update about this problem?

[2020-12-07 02:35] aprilmintacpineda commented on #178
I tried changing `node_modules/react-native-azurenotificationhub/android/build.gradle` to `minSdkVersion 21` and it successfully builds, but it still crashes when I run the app, just as it crashes when I change my android's `minSdkVersion` to `26`...

[2020-12-10 09:02] aprilmintacpineda opened #181 "Error: Attempt to invoke virtual method 'int java.lang.String.length()' on a null object reference"
## Report

- [x] I have searched [existing issues](https://github.com/CatalystCode/react-native-azurenotificationhub/issues) and this is not a duplicate.

## Environment

- Platforms: Android

- Android version: 10

- iOS version: N/A

## Issues and Steps to Reproduce

I have not tested this on iOS, but on android, whenever I tap on `Register`, the following error gets logged:

[code]

Note that I

[2020-12-10 09:03] aprilmintacpineda commented on #178
If you're going through the same problem, might be good to look at this https://github.com/facebook/react-native/issues/25537#issuecomment-739644737

[2020-12-10 09:03] #178 closed

[2020-12-10 22:58] aprilmintacpineda commented on #181
this happens on the `register` call, the register is successful, but the `_onAzureNotificationHubRegistrationError` logs with that error afterwards.

[2020-12-16 01:54] aprilmintacpineda commented on #66
I am also unable to receive notification on android :( we are sending push notification through Azure Notif Hub portal but android is not receiving it.

[2020-12-16 02:01] aprilmintacpineda commented on #181
Here's the whole log from Android studio:

[code]

[2020-12-16 02:34] DanielAeon opened #182 "Android Does not work"
## Report

I have searched everywhere and spend 2 days on this library and downloaded the sample app tried that out nothing happens. Click register is returns a UUID but nothing registers look at the azure notification hub no communication.

## Environment
- Platforms: Windows
- Android version: 10 and 11, Real phones and Emulator

## Issues and Steps to Reproduce
1. Download sample app get your a

[2020-12-17 08:02] aprilmintacpineda opened #183 "Invalid Podfile on sample"
## Report

- [x] I have searched [existing issues](https://github.com/CatalystCode/react-native-azurenotificationhub/issues) and this is not a duplicate.

## Environment

- Platforms: N/A

- Android version: N/A

- iOS version: N/A

## Issues and Steps to Reproduce

- Clone this repo
- `cd sample`
- `npm i`
- `cd ios`
- `pod install`

[code]

## Expected Behavior

Podfile of sample should be valid

[2020-12-20 19:10] rlsbelmiro commented on #80
Hi guys.
I have same issue.
The remote notification did not work in IOS.

First, happened error about supportedEvents refer "remoteNotificationReceived"
I tried update line 25 in file "AzureNotificationHUBIOS.js"
The register is work, but this notification did'nt work

Can help-me??

[2020-12-22 08:52] LimanASL commented on #182
Same issue here. Perviously worked to ask for notification permission and register to notification hub .

But recently only returns a UUID

[2021-03-10 10:50] Luftzig commented on #100
I also encounter this bug with 0.9.5-patched.1, but I'm not sure if I've done the `Android.Manifest.xml` steps because I couldn't find the instructions. Before upgrading we used our own fork that was at least over a year behind so I'm not sure to what version it corresponded.

[2021-03-16 02:45] MahendraBalu opened #185 "Android : Not able to receive notification on Emulator (v0.9.5)"
## Report

- [ ] I have searched [existing issues](https://github.com/CatalystCode/react-native-azurenotificationhub/issues) and this is not a duplicate.

## Environment

- Platforms:  Android

- Android version:  emulator

We have upgraded react-native-azurenotificationhub package to 0.9.5 from 0.9.1 after that Android Emulator is not receving the notifiation,
## Issues and Steps to Reproduce
1.

[2021-03-16 16:47] MahendraBalu commented on #182
I am not receiving notifications on the device. My Device is got registered in Notification Hub. Let me know if you have any idea.

[2021-04-15 18:50] diegomichell opened #187 "Cannot unregister from notifications"
## Report

- [ ] I have searched [existing issues](https://github.com/CatalystCode/react-native-azurenotificationhub/issues) and this is not a duplicate.

## Environment

- Platforms:

- Android version: 10

- iOS version: 14.2

## Issues and Steps to Reproduce
When I call I call unregister I'm still getting notifications

## Expected Behavior
The app should stop receiving notifications when unreg

[2021-04-15 18:52] diegomichell commented on #152
I'm having the same problem

[2021-04-15 20:21] potatoengineer opened #188 "RNAzureNotificationHub UILocalNotification is deprecated"
## Report

- [x] I have searched [existing issues](https://github.com/CatalystCode/react-native-azurenotificationhub/issues) and this is not a duplicate.

## Environment

- Platforms: iOS

- iOS version: UILocalNotification first deprecated in iOS 10.0

## Issues and Steps to Reproduce
***Replaces this with steps to repro your issue, if applicable.***
Install this package and run it on any device

[2021-04-15 22:30] potatoengineer commented on #173
`UNNotificationPresentationOptionAlert` has been deprecated

[2021-04-15 22:35] potatoengineer commented on #152
Same problem here, unregister is not working properly

[2021-04-15 22:52] potatoengineer commented on #177
@khanhduy62 did you resolve this?

[2021-04-15 22:56] khanhduy62 commented on #177
I did, so I think I should close this topic

[2021-04-15 22:56] #177 closed

[2021-04-15 23:23] potatoengineer commented on #177
@khanhduy62 how did you resolve this? I'm stuck on the same issue.

[2021-04-16 07:04] potatoengineer commented on #116
I have this issue as well. Is there a solution? @yasaricli @phongcao

I am currently on `"^0.9.5-Patched.1"` and using it like such
[code]

[2021-05-14 13:05] Brqqq opened #192 "Some mandatory properties in RegistrationConfig typing should be optional"
## Report

- [x] I have searched [existing issues](https://github.com/CatalystCode/react-native-azurenotificationhub/issues) and this is not a duplicate.

## Environment

- Platforms: N/A (Development issue)
- Android version:  -
- iOS version:  -

## Issues and Steps to Reproduce
In a TypeScript RN project, use this code

[code]

## Expected Behavior
***Describe what you expected would happen.***

[2021-05-27 07:30] hossamnasser938 opened #194 "Cannot read property register of undefined"
## Report

- [x] I have searched [existing issues](https://github.com/CatalystCode/react-native-azurenotificationhub/issues) and this is not a duplicate.

## Environment

 Windows
- Platforms:

- Android version:

- iOS version:

## Issues and Steps to Reproduce
Follow installation instructions of the package for windows.

## Expected Behavior
The package should work without errors.

## Actual Beh

[2021-06-03 19:20] bhawnaNS1411 opened #195 "Not able to receive badge as an integer in push payload and silent push notifications in IOS"
Payload sent from azure portal--
"aps" : {
     "alert":"TestNotification",
    **"badge" : 21,**
    "sound" :""
  }
  Payload received (badge in string)in app--
 {
     "alert":"TestNotification",
   **"badge" : "21",**
    "sound" :""
  }
No push received Badge count not updated------
 **Silent Push Payload**
 "aps" : {
    "badge" : 21,
    "content-available" : 1
  }

  Unable to find solutio

[2021-06-10 15:34] #195 closed, assigned to nobody

[2021-06-21 12:33] vandana87 opened #197 "How can I handle notification click in azure notification IOS"
I am using azure notification hub in my react native project. I need to call the api when the notification is clicked and navigate it to specific page. I am not able to get the click action when notification is clicked in notification tray. can anyone please advice on this issue.

[2021-06-23 09:03] sapramit opened #198 "Android App rejected "Remediation for Implicit PendingIntent Vulnerability""
## Report

Yes, I have searched [existing issues](https://github.com/CatalystCode/react-native-azurenotificationhub/issues) and this is not a duplicate.

## Environment

- Platforms: Android

- Android version: API 23 and above

## Issues and Steps to Reproduce
1. Install "react-native-azurenotificationhub"
2. Submit app to google play console

## Expected Behavior
Google Play should accept the ap

[2021-08-04 09:23] aithashi commented on #182
+ Same here
Do we need any kind of backend service ? (Apart from creating a 'Notification Hubs' in Azure & giving Google(GCM/FCM) Api key)

If anyone could help?
Thanks in Advance

[2021-08-04 11:04] sapramit opened #200 "React Native Android azure build failing while downloading a resource from https://dl.bintray.com/microsoftazuremobile/SDK"
## Report

Yes, I have searched [existing issues](https://github.com/CatalystCode/react-native-azurenotificationhub/issues) and this is not a duplicate.

## Environment

- Platforms: Android

- Android version: API 23 and above

## Issues and Steps to Reproduce
Installed react-native-azurenotificationhub library, added steps to install on Android.

Added 'https://dl.bintray.com/microsoftazuremobil

[2021-08-10 12:42] nithinyell commented on #152
Issue on https://github.com/Azure/azure-notificationhubs-android/issues/5

[2021-09-21 14:30] TonKro opened #202 "Critical alert IOS"
## Report

- [ x] I have searched [existing issues](https://github.com/CatalystCode/react-native-azurenotificationhub/issues) and this is not a duplicate.

## Environment

- Platforms:

- Android version:

- iOS version: Yes

## Issues and Steps to Reproduce
***Replaces this with steps to repro your issue, if applicable.***

We were trying to send the critical notification with custom sound to my

[2021-09-22 22:59] a-josh-king87 commented on #182
Bump! Is anyone maintaining this repo?

[2021-10-19 23:04] diegomichell commented on #200
I'm also getting this error

[2021-10-19 23:07] diegomichell commented on #200
I see the problem is this

This library and the documentation have to be updated according to the Android implementation, take a look here https://github.com/Azure/azure-notificationhubs-android

[2021-12-09 13:14] hstorz commented on #200
I changed bintray to mavenCentral in this PR #205.
Strangely enough I got some lint build errors which I disabled with
[code]
Now I can build again.

[2021-12-17 11:35] prasadmaduranga commented on #166
Got the same issue here. Any updates?

[2022-03-11 19:52] KevinUreAtIndustryX0 commented on #200
So is the project dead or what? I'm still having this error 7 months later and the  linked PR has never been merged.

If anyone sees this can someone explain to me why is issue only happening in our azure pipeline and not locally? the app builds fine on several developer macs but the pipeline throws
[code]

[2022-03-16 14:25] ka-sundberg commented on #200
I actually didn't have the patience to wait for this. So created a fork, updated the maven path and published npm package here for anyone intrested
https://www.npmjs.com/package/react-native-azurenotificationhub-mavencentral

[2022-11-14 10:38] yasaricli opened #214 "android:attr/lStar not found"
I fixed this and created a pull request.

This bug has been fixed in `mavenCentral()`.

https://github.com/CatalystCode/react-native-azurenotificationhub/pull/215

[2022-11-14 14:30] lakshminarayana254 commented on #66
I'm able to get notifications when app is background, but when its foreground it doesn't work. remoteNotificationReceived is also not being called in android?
Please help! Thanks in advance.